Repository gympass/yoga, pull requests merged in 2020-09, with the labels that each got.

#160 Fix rubik italic font file name
  packages/yoga/src/Fonts/Rubik-italic.ttf
Labels: @gympass/yoga, bug

#161 fix(password): fixing focus input for safari
  packages/yoga/src/Input/web/Password.jsx
Labels: @gympass/yoga

#163 [BREAKING] New PlanCard!
  packages/doc/content/components/components/card/plancard-native.mdx
  packages/doc/content/components/components/card/plancard-web.mdx
  packages/doc/content/components/components/card/plancard.mdx
  packages/labnative/pages/Card.jsx
  packages/yoga/src/Card/Card.theme.js
  packages/yoga/src/Card/native/PlanCard/Actions.jsx
  packages/yoga/src/Card/native/PlanCard/Content.jsx
  packages/yoga/src/Card/native/PlanCard/List.jsx
  packages/yoga/src/Card/native/PlanCard/PlanCard.jsx
  packages/yoga/src/Card/native/PlanCard/PlanCard.test.jsx
  packages/yoga/src/Card/native/PlanCard/PlanCardContext.js
  packages/yoga/src/Card/native/PlanCard/Subtitle.jsx
  packages/yoga/src/Card/native/PlanCard/Tag.jsx
  packages/yoga/src/Card/native/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Card/native/PlanCard/index.js
  packages/yoga/src/Card/web/PlanCard/Actions.jsx
  packages/yoga/src/Card/web/PlanCard/Content.jsx
  packages/yoga/src/Card/web/PlanCard/List.jsx
  packages/yoga/src/Card/web/PlanCard/PlanCard.jsx
  packages/yoga/src/Card/web/PlanCard/PlanCard.test.jsx
  packages/yoga/src/Card/web/PlanCard/Subtitle.jsx
  packages/yoga/src/Card/web/PlanCard/Tag.jsx
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Card/web/PlanCard/index.js
Labels: @gympass/yoga, @gympass/yoga-doc, @gympass/yoga-labnative
