Repository gympass/yoga, pull requests merged in 2020-04, with the labels that each got.

#132 Update contribute guidelines
  .github/labeler.yml
  .github/workflows/labeler.yml
  CONTRIBUTING.md
  packages/common/README.md
  packages/tokens/README.md
Labels: @gympass/yoga-common, @gympass/yoga-tokens

#133 [DS-190] Theme Refactoring
  .github/labeler.yml
  CONTRIBUTING.md
  babel.config.js
  package.json
  packages/doc/babel.config.js
  packages/doc/package.json
  packages/yoga/src/AutoComplete/AutoComplete.theme.js
  packages/yoga/src/Button/Button.theme.js
  packages/yoga/src/Card/Card.theme.js
  packages/yoga/src/Checkbox/Checkbox.theme.js
  packages/yoga/src/Checkbox/CheckboxSwitch.theme.js
  packages/yoga/src/Dropdown/Dropdown.theme.js
  packages/yoga/src/Grid/Grid.theme.js
  packages/yoga/src/Input/Input.theme.js
  packages/yoga/src/List/List.theme.js
  packages/yoga/src/Progress/Progress.theme.js
  packages/yoga/src/RadioGroup/RadioGroup.theme.js
  packages/yoga/src/RadioGroup/native/Button/RadioButton.jsx
  packages/yoga/src/RadioGroup/native/Radio/Radio.jsx
  packages/yoga/src/RadioGroup/native/RadioGroup.jsx
  packages/yoga/src/RadioGroup/web/Button/RadioButton.jsx
  packages/yoga/src/RadioGroup/web/Radio/Radio.jsx
  packages/yoga/src/Rating/Rating.theme.js
  packages/yoga/src/Slider/Slider.theme.js
  packages/yoga/src/Stepper/Stepper.theme.js
  packages/yoga/src/Tag/Tag.theme.js
  packages/yoga/src/Text/Text.theme.js
  packages/yoga/src/TextArea/TextArea.theme.js
  packages/yoga/src/Theme/themes/BaseTheme.js
  packages/yoga/src/Theme/themes/components/index.js
  packages/yoga/src/Theme/themes/components/rating.js
  packages/yoga/src/Theme/themes/components/textarea.js
  scripts/cli/creators/index.js
  scripts/cli/creators/theme.js
  scripts/cli/index.js
  scripts/cli/templates/component.js
  scripts/cli/templates/index.js
  scripts/cli/templates/theme.js
  yarn.lock
Labels: @gympass/yoga, @gympass/yoga-doc

#134 Wellness theme and filter icon
  packages/icons/src/index.js
  packages/icons/src/index.native.js
  packages/icons/src/svg/filter.svg
  packages/icons/src/svg/index.js
  packages/icons/src/svg/index.native.js
  packages/yoga/src/Theme/themes/Wellness.js
  packages/yoga/src/Theme/themes/index.js
Labels: @gympass/yoga
