Repository gympass/yoga, pull requests merged in 2020-08, with the labels that each got.

#155 feat(theme): added kids theme into yoga
  packages/yoga/src/Theme/themes/Kids.js
  packages/yoga/src/Theme/themes/index.js
Labels: @gympass/yoga

#153 [BREAKING] Updating spacing tokens
  packages/tokens/src/global/spacing.js
  packages/yoga/src/AutoComplete/AutoComplete.theme.js
  packages/yoga/src/Button/Button.theme.js
  packages/yoga/src/Card/Card.theme.js
  packages/yoga/src/Card/native/Card/Card.jsx
  packages/yoga/src/Card/native/PlanCard/Actions.jsx
  packages/yoga/src/Card/web/Card/Card.jsx
  packages/yoga/src/Card/web/PlanCard/Actions.jsx
  packages/yoga/src/Checkbox/Checkbox.theme.js
  packages/yoga/src/Checkbox/CheckboxSwitch.theme.js
  packages/yoga/src/Checkbox/web/Switch.jsx
  packages/yoga/src/Dropdown/Dropdown.theme.js
  packages/yoga/src/Input/Input.theme.js
  packages/yoga/src/Input/native/Input.jsx
  packages/yoga/src/Input/native/Password.jsx
  packages/yoga/src/Input/web/Password.jsx
  packages/yoga/src/Input/web/Wrapper.jsx
  packages/yoga/src/List/List.theme.js
  packages/yoga/src/Progress/Progress.theme.js
  packages/yoga/src/Progress/native/Progress.jsx
  packages/yoga/src/Progress/web/Progress.jsx
  packages/yoga/src/RadioGroup/RadioGroup.theme.js
  packages/yoga/src/Rating/Rating.theme.js
  packages/yoga/src/Slider/Slider.theme.js
  packages/yoga/src/Tag/Tag.theme.js
Labels: @gympass/yoga, @gympass/yoga-tokens

#154 [Breaking] Update font-sizes/line-heights tokens and `Text` component
  package.json
  packages/doc/content/components/components/text/default-native.mdx
  packages/doc/content/components/components/text/default-web.mdx
  packages/labnative/pages/Text.jsx
  packages/tokens/src/global/font-sizes.js
  packages/tokens/src/global/line-heights.js
  packages/yoga/src/Card/native/EventCard/EventCard.jsx
  packages/yoga/src/Card/native/EventCard/__snapshots__/EventCard.test.jsx.snap
  packages/yoga/src/Card/native/GymCard/CheckIn/CheckIn.jsx
  packages/yoga/src/Card/native/GymCard/CheckIn/__snapshots__/CheckIn.test.jsx.snap
  packages/yoga/src/Card/native/PlanCard/Content.jsx
  packages/yoga/src/Card/native/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Card/web/EventCard/EventCard.jsx
  packages/yoga/src/Card/web/EventCard/__snapshots__/EventCard.test.jsx.snap
  packages/yoga/src/Card/web/PlanCard/Content.jsx
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Dropdown/Dropdown.theme.js
  packages/yoga/src/Dropdown/native/Backdrop.jsx
  packages/yoga/src/Dropdown/native/__snapshots__/Backdrop.test.jsx.snap
  packages/yoga/src/Text/Text.theme.js
  packages/yoga/src/Text/index.js
  packages/yoga/src/Text/index.native.js
  packages/yoga/src/Text/native/Text.jsx
  packages/yoga/src/Text/native/__snapshots__/Text.test.jsx.snap
  packages/yoga/src/Text/native/index.js
  packages/yoga/src/Text/web/Text.jsx
  packages/yoga/src/Text/web/Text.test.jsx
  packages/yoga/src/Text/web/__snapshots__/Text.test.jsx.snap
  packages/yoga/src/Text/web/index.js
Labels: @gympass/yoga, @gympass/yoga-doc, @gympass/yoga-labnative, @gympass/yoga-tokens

#157 [BREAKING] Updating spacing, font-sizes, line-heights, and weight tokens
  package.json
  packages/doc/content/components/components/text/default-native.mdx
  packages/doc/content/components/components/text/default-web.mdx
  packages/labnative/pages/Text.jsx
  packages/tokens/src/global/font-sizes.js
  packages/tokens/src/global/line-heights.js
  packages/tokens/src/global/spacing.js
  packages/yoga/src/AutoComplete/AutoComplete.theme.js
  packages/yoga/src/Button/Button.theme.js
  packages/yoga/src/Card/Card.theme.js
  packages/yoga/src/Card/native/Card/Card.jsx
  packages/yoga/src/Card/native/EventCard/EventCard.jsx
  packages/yoga/src/Card/native/EventCard/__snapshots__/EventCard.test.jsx.snap
  packages/yoga/src/Card/native/GymCard/CheckIn/CheckIn.jsx
  packages/yoga/src/Card/native/GymCard/CheckIn/__snapshots__/CheckIn.test.jsx.snap
  packages/yoga/src/Card/native/PlanCard/Actions.jsx
  packages/yoga/src/Card/native/PlanCard/Content.jsx
  packages/yoga/src/Card/native/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Card/web/Card/Card.jsx
  packages/yoga/src/Card/web/EventCard/EventCard.jsx
  packages/yoga/src/Card/web/EventCard/__snapshots__/EventCard.test.jsx.snap
  packages/yoga/src/Card/web/PlanCard/Actions.jsx
  packages/yoga/src/Card/web/PlanCard/Content.jsx
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Checkbox/Checkbox.theme.js
  packages/yoga/src/Checkbox/CheckboxSwitch.theme.js
  packages/yoga/src/Checkbox/web/Switch.jsx
  packages/yoga/src/Dropdown/Dropdown.theme.js
  packages/yoga/src/Dropdown/native/Backdrop.jsx
  packages/yoga/src/Dropdown/native/__snapshots__/Backdrop.test.jsx.snap
  packages/yoga/src/Input/Input.theme.js
  packages/yoga/src/Input/native/Input.jsx
  packages/yoga/src/Input/native/Password.jsx
  packages/yoga/src/Input/web/Password.jsx
  packages/yoga/src/Input/web/Wrapper.jsx
  packages/yoga/src/List/List.theme.js
  packages/yoga/src/Progress/Progress.theme.js
  packages/yoga/src/Progress/native/Progress.jsx
  packages/yoga/src/Progress/web/Progress.jsx
  packages/yoga/src/RadioGroup/RadioGroup.theme.js
  packages/yoga/src/Rating/Rating.theme.js
  packages/yoga/src/Slider/Slider.theme.js
  packages/yoga/src/Tag/Tag.theme.js
  packages/yoga/src/Text/Text.theme.js
  packages/yoga/src/Text/index.js
  packages/yoga/src/Text/index.native.js
  packages/yoga/src/Text/native/Text.jsx
  packages/yoga/src/Text/native/__snapshots__/Text.test.jsx.snap
  packages/yoga/src/Text/native/index.js
  packages/yoga/src/Text/web/Text.jsx
  packages/yoga/src/Text/web/Text.test.jsx
  packages/yoga/src/Text/web/__snapshots__/Text.test.jsx.snap
  packages/yoga/src/Text/web/index.js
Labels: @gympass/yoga, @gympass/yoga-doc, @gympass/yoga-labnative, @gympass/yoga-tokens
