Repository gympass/yoga, pull requests merged in 2020-10, with the labels that each got.

#166 PlanCard: fix text truncate and subtitle prop
  packages/yoga/src/Card/web/PlanCard/Content.jsx
  packages/yoga/src/Card/web/PlanCard/List.jsx
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
Labels: @gympass/yoga

#164 [SFS-1359]- Fixing e-mail animation and refactoring component input
  packages/yoga/src/AutoComplete/web/__snapshots__/AutoComplete.test.jsx.snap
  packages/yoga/src/Input/web/Field.jsx
  packages/yoga/src/Input/web/Fieldset.jsx
  packages/yoga/src/Input/web/Input.jsx
  packages/yoga/src/Input/web/Input.test.jsx
  packages/yoga/src/Input/web/Label.jsx
  packages/yoga/src/Input/web/Legend.jsx
  packages/yoga/src/Input/web/Password.jsx
  packages/yoga/src/Input/web/Wrapper.jsx
  packages/yoga/src/Input/web/__snapshots__/Email.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Input.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Number.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Password.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Tel.test.jsx.snap
  packages/yoga/src/TextArea/web/TextArea.jsx
  packages/yoga/src/TextArea/web/__snapshots__/TextArea.test.jsx.snap
Labels: @gympass/yoga

#167 Change fieldset import case
  packages/yoga/src/TextArea/web/TextArea.jsx
Labels: @gympass/yoga

#174 Update CI config
  .github/workflows/npmpublish.yml
  packages/doc/CHANGELOG.md
  packages/doc/package.json
  packages/labnative/CHANGELOG.md
  packages/labnative/package.json
  packages/yoga/CHANGELOG.md
  packages/yoga/package.json
  packages/yoga/src/AutoComplete/web/__snapshots__/AutoComplete.test.jsx.snap
  packages/yoga/src/Input/web/Field.jsx
  packages/yoga/src/Input/web/Fieldset.jsx
  packages/yoga/src/Input/web/Input.jsx
  packages/yoga/src/Input/web/Input.test.jsx
  packages/yoga/src/Input/web/Label.jsx
  packages/yoga/src/Input/web/Legend.jsx
  packages/yoga/src/Input/web/Password.jsx
  packages/yoga/src/Input/web/Wrapper.jsx
  packages/yoga/src/Input/web/__snapshots__/Email.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Input.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Number.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Password.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Tel.test.jsx.snap
  packages/yoga/src/TextArea/web/TextArea.jsx
  packages/yoga/src/TextArea/web/__snapshots__/TextArea.test.jsx.snap
  scripts/publish.sh
Labels: @gympass/yoga, @gympass/yoga-doc, @gympass/yoga-labnative

#168 docs(native-font): add documentation for native font in getting started
  packages/doc/content/components/components/text/default-native.mdx
  packages/doc/content/components/getting-started/default-native.mdx
  packages/doc/content/components/getting-started/default-web.mdx
  packages/doc/content/components/getting-started/index.mdx
Labels: @gympass/yoga-doc
