Repository gympass/yoga, pull requests merged in 2020-05, with the labels that each got.

#139 fix(card): adjusting card shadow and event-card style
  package.json
  packages/labnative/babel.config.js
  packages/labnative/customTransformer.js
  packages/labnative/ios/Podfile.lock
  packages/labnative/metro.config.js
  packages/labnative/pages/Card.jsx
  packages/yoga/src/Card/native/Card/Card.jsx
  packages/yoga/src/Card/native/Card/__snapshots__/Card.test.jsx.snap
  packages/yoga/src/Card/native/EventCard/EventCard.jsx
  packages/yoga/src/Card/native/EventCard/__snapshots__/EventCard.test.jsx.snap
  packages/yoga/src/Card/native/GymCard/CheckIn/__snapshots__/CheckIn.test.jsx.snap
  packages/yoga/src/Card/native/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Card/web/EventCard/EventCard.jsx
  packages/yoga/src/Card/web/EventCard/__snapshots__/EventCard.test.jsx.snap
  yarn.lock
Labels: @gympass/yoga-labnative

#136 New lock icon
  .github/labeler.yml
  .github/workflows/npmpublish.yml
  packages/icons/src/index.js
  packages/icons/src/index.native.js
  packages/icons/src/svg/index.js
  packages/icons/src/svg/index.native.js
  packages/icons/src/svg/lock.svg
Labels: @gympass/yoga-icons

#137 Create Theme Reader
  packages/doc/content/components/components/theme/index.mdx
  packages/doc/content/components/components/theme/themeprovider.mdx
  packages/doc/content/components/components/theme/themereader.mdx
  packages/yoga/package.json
  packages/yoga/src/Theme/helpers/themeReader/base.test.js
  packages/yoga/src/Theme/helpers/themeReader/index.js
  packages/yoga/src/Theme/helpers/themeReader/native/native.test.jsx
  packages/yoga/src/Theme/helpers/themeReader/web/web.test.jsx
  packages/yoga/src/Theme/index.js
  packages/yoga/src/Theme/index.native.js
  packages/yoga/src/index.js
  packages/yoga/src/index.native.js
  yarn.lock
Labels: @gympass/yoga, documentation, enhancement

#140 Fix native import glob
  packages/labnative/babel.config.js
  packages/labnative/customTransformer.js
  packages/labnative/ios/Podfile.lock
Labels: @gympass/yoga-labnative

#142 Change Corporate theme colors
  packages/tokens/src/global/colors.js
  packages/yoga/src/Button/native/__snapshots__/Button.test.jsx.snap
  packages/yoga/src/Button/web/__snapshots__/Button.test.jsx.snap
  packages/yoga/src/Card/native/EventCard/__snapshots__/EventCard.test.jsx.snap
  packages/yoga/src/Card/native/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Card/web/EventCard/__snapshots__/EventCard.test.jsx.snap
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Checkbox/native/__snapshots__/Checkbox.test.jsx.snap
  packages/yoga/src/Checkbox/web/__snapshots__/Checkbox.test.jsx.snap
  packages/yoga/src/Progress/native/__snapshots__/Progress.test.jsx.snap
  packages/yoga/src/Progress/web/__snapshots__/Progress.test.jsx.snap
  packages/yoga/src/Text/native/__snapshots__/Text.test.jsx.snap
  packages/yoga/src/Text/web/__snapshots__/Text.test.jsx.snap
  packages/yoga/src/Theme/themes/Corporate.js
Labels: @gympass/yoga, @gympass/yoga-tokens, enhancement
