Repository gympass/yoga, pull requests merged in 2020-06, with the labels that each got.

#143 New property box-sizing in component input
  packages/yoga/src/AutoComplete/web/__snapshots__/AutoComplete.test.jsx.snap
  packages/yoga/src/Input/web/Input.jsx
  packages/yoga/src/Input/web/__snapshots__/Email.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Input.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Number.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Password.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Tel.test.jsx.snap
Labels: @gympass/yoga

#144 [Partners] Theme colors update
  packages/tokens/src/global/colors.js
  packages/yoga/src/Theme/themes/Gyms.js
Labels: @gympass/yoga, @gympass/yoga-tokens

#146 Fix Input and TextArea width issues
  packages/yoga/src/AutoComplete/web/__snapshots__/AutoComplete.test.jsx.snap
  packages/yoga/src/Input/web/Field.jsx
  packages/yoga/src/Input/web/Input.jsx
  packages/yoga/src/Input/web/__snapshots__/Email.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Input.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Number.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Password.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Tel.test.jsx.snap
  packages/yoga/src/TextArea/web/TextArea.jsx
  packages/yoga/src/TextArea/web/__snapshots__/TextArea.test.jsx.snap
  packages/yoga/src/Theme/helpers/themeReader/native/native.test.jsx
  packages/yoga/src/Theme/helpers/themeReader/web/web.test.jsx
Labels: @gympass/yoga

#147 Fix radio-button dot
  packages/yoga/src/RadioGroup/native/Radio/Radio.jsx
  packages/yoga/src/RadioGroup/native/Radio/__snapshots__/Radio.test.jsx.snap
Labels: @gympass/yoga

#148 feat(Icons): add youtube icon
  packages/icons/README.md
  packages/icons/src/index.js
  packages/icons/src/index.native.js
  packages/icons/src/svg/index.js
  packages/icons/src/svg/index.native.js
  packages/icons/src/svg/youtube.svg
Labels: @gympass/yoga-icons

#149 Fix svg issues on our build process
  packages/icons/README.md
  packages/icons/babel.config.js
Labels: @gympass/yoga-icons

#150 Add SVGR to yoga-icons build steps
  packages/icons/babel.config.js
  packages/icons/package.json
  packages/yoga/package.json
  yarn.lock
Labels: @gympass/yoga, @gympass/yoga-icons

#151 Keep viewBox svg attribute in bundle
  packages/icons/babel.config.js
Labels: @gympass/yoga-icons
