Repository gympass/yoga, pull requests merged in 2021-12, with the labels that each got.

#410 feat(component): changed the design of App PlanCard to new layout
  packages/doc/content/components/components/card/plancard-native.mdx
  packages/labnative/pages/Card.jsx
  packages/yoga/src/Card/native/PlanCard/Content.jsx
  packages/yoga/src/Card/native/PlanCard/List.jsx
  packages/yoga/src/Card/native/PlanCard/__snapshots__/PlanCard.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative

#415 refactor: Allow number with slice as progress label and update native font color
  packages/yoga/src/Progress/native/Progress.jsx
  packages/yoga/src/Progress/native/__snapshots__/Progress.test.jsx.snap
  packages/yoga/src/Progress/web/Progress.jsx
Labels: @gympass/yoga

#414 refactor(component): adjusted the spacings on native Plan Card
  packages/labnative/pages/Card.jsx
  packages/yoga/src/Card/Card.native.theme.js
  packages/yoga/src/Card/Card.theme.js
  packages/yoga/src/Card/Card.web.theme.js
  packages/yoga/src/Card/native/PlanCard/Actions.jsx
  packages/yoga/src/Card/native/PlanCard/Content.jsx
  packages/yoga/src/Card/native/PlanCard/List.jsx
  packages/yoga/src/Card/native/PlanCard/PlanCard.jsx
  packages/yoga/src/Card/native/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Card/web/PlanCard/Actions.jsx
  packages/yoga/src/Card/web/PlanCard/Content.jsx
  packages/yoga/src/Card/web/PlanCard/List.jsx
  packages/yoga/src/Divider/native/__snapshots__/Divider.test.jsx.snap
Labels: @gympass/yoga, @gympass/yoga-labnative

#419 fix(dropdown): fix behavior when we have the error prop
  packages/yoga/src/Divider/native/__snapshots__/Divider.test.jsx.snap
  packages/yoga/src/Dropdown/Dropdown.theme.js
  packages/yoga/src/Dropdown/web/Dropdown.jsx
  packages/yoga/src/Dropdown/web/__snapshots__/Dropdown.test.jsx.snap
Labels: @gympass/yoga
