Repository gympass/yoga, pull requests merged in 2021-11, with the labels that each got.

#380 Fix avatar image flickering on android
  packages/yoga/src/Avatar/native/Avatar.jsx
  packages/yoga/src/Avatar/web/Avatar.jsx
  packages/yoga/src/Avatar/web/__snapshots__/Avatar.test.jsx.snap
Labels: @gympass/yoga

#385 ✨ Add new prop zIndex to system
  packages/doc/content/system/system/layout.mdx
  packages/system/src/layout.js
  packages/system/src/layout.test.js
Labels: @gympass/yoga-doc, @gympass/yoga-system

#387 refactor(input-web-legend): replace hacky numbers
  packages/yoga/src/AutoComplete/web/__snapshots__/AutoComplete.test.jsx.snap
  packages/yoga/src/Input/web/Field.jsx
  packages/yoga/src/Input/web/__snapshots__/Email.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Input.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Number.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Password.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Tel.test.jsx.snap
  packages/yoga/src/TextArea/web/__snapshots__/TextArea.test.jsx.snap
Labels: @gympass/yoga

#384 fix(navigation): correct ordering across browsers
  packages/doc/content/components/components/button/index.mdx
  packages/doc/content/components/components/card/gym/index.mdx
  packages/doc/content/components/components/card/index.mdx
  packages/doc/content/components/components/checkbox/index.mdx
  packages/doc/content/components/components/input/index.mdx
  packages/doc/content/components/components/radiogroup/index.mdx
  packages/doc/content/components/components/tag/index.mdx
  packages/doc/content/components/theming/index.mdx
  packages/doc/content/guidelines/index.mdx
  packages/doc/content/guidelines/product-content/grammar-and-mechanics/index.mdx
  packages/doc/content/guidelines/product-content/index.mdx
  packages/doc/content/guidelines/product-content/introduction/index.mdx
  packages/doc/content/guidelines/product-content/key-points/index.mdx
  packages/doc/content/guidelines/product-content/voice-and-tone/index.mdx
  packages/doc/content/guidelines/product-content/web-elements/index.mdx
  packages/doc/content/guidelines/product-content/word-list/index.mdx
  packages/doc/content/guidelines/product-content/writing-about-people/index.mdx
  packages/doc/content/guidelines/product-content/writing-for-accessibility/index.mdx
  packages/doc/content/guidelines/product-content/writing-for-translation/index.mdx
  packages/doc/gatsby-node.js
  packages/doc/src/components/Layout/Layout.jsx
  packages/doc/src/components/Navigation/Navigation.jsx
  packages/doc/src/components/Navigation/tree.js
  packages/doc/src/pages/index.jsx
  packages/doc/src/templates/docs.jsx
  packages/doc/src/templates/nav.js
Labels: @gympass/yoga-doc

#388 ✨ Add Dialog
  packages/doc/content/components/components/dialog/index.mdx
  packages/doc/content/components/theming/themeGenerator.mdx
  packages/yoga/src/Card/web/Card/Actions.jsx
  packages/yoga/src/Card/web/Card/Content.jsx
  packages/yoga/src/Card/web/Card/Header.jsx
  packages/yoga/src/Dialog/Dialog.theme.js
  packages/yoga/src/Dialog/index.js
  packages/yoga/src/Dialog/web/Content.jsx
  packages/yoga/src/Dialog/web/Dialog.jsx
  packages/yoga/src/Dialog/web/Dialog.test.jsx
  packages/yoga/src/Dialog/web/Footer.jsx
  packages/yoga/src/Dialog/web/Header.jsx
  packages/yoga/src/Dialog/web/__snapshots__/Dialog.test.jsx.snap
  packages/yoga/src/Dialog/web/index.js
  packages/yoga/src/hooks/index.js
  packages/yoga/src/hooks/usePortal.jsx
  packages/yoga/src/index.js
  yarn.lock
Labels: @gympass/yoga-doc, @gympass/yoga

#393 Fix problem on Dialog
  packages/yoga/src/Dialog/web/Dialog.jsx
Labels: @gympass/yoga

#394 feat(gh-actions): add new code validation job
  .github/workflows/main.yml
Labels: @gympass/yoga

#399 Fix unit tests on Dialog
  packages/yoga/src/Dialog/web/Dialog.test.jsx
  packages/yoga/src/Dialog/web/__snapshots__/Dialog.test.jsx.snap
Labels: @gympass/yoga

#378 Fix Dropdown Issues
  packages/yoga/src/Dropdown/Dropdown.theme.js
  packages/yoga/src/Dropdown/native/__snapshots__/Dropdown.test.jsx.snap
  packages/yoga/src/Dropdown/web/Dropdown.jsx
  packages/yoga/src/Dropdown/web/Dropdown.test.jsx
  packages/yoga/src/Dropdown/web/__snapshots__/Dropdown.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative

#401 Dropdown: Adjust misaligned Chevron
  packages/yoga/src/Dropdown/web/Dropdown.jsx
  packages/yoga/src/Dropdown/web/__snapshots__/Dropdown.test.jsx.snap
Labels: @gympass/yoga

#402 Update main job and remove bloat from `npmpublish` workflow
  .github/workflows/main.yml
  .github/workflows/npmpublish.yml
Labels: @gympass/yoga

#403 fix(dialog): replace relative import with package import
  packages/yoga/src/Dialog/web/Dialog.jsx
Labels: @gympass/yoga

#404 fix(dropdown): pass the full prop to input component
  packages/yoga/src/Dropdown/web/Dropdown.jsx
  packages/yoga/src/Dropdown/web/__snapshots__/Dropdown.test.jsx.snap
Labels: @gympass/yoga

#395 [Docs] Reorder component pages and improve ordering inference
  packages/doc/content/components/components/index.mdx
  packages/doc/content/components/helpers/index.mdx
  packages/doc/content/components/icons/index.mdx
  packages/doc/content/components/theming/index.mdx
  packages/doc/src/components/Navigation/Navigation.jsx
Labels: @gympass/yoga-doc

#391 feat(doc-native): add peer dependencies section
  packages/doc/content/components/getting-started/default-native.mdx
Labels: @gympass/yoga-doc

#405 docs(icons): fix typo in icons-web.mdx
  packages/doc/content/components/icons/icons-web.mdx
Labels: @gympass/yoga-doc

#377 New component: Bottom sheet notification
  .prettierignore
  packages/doc/content/components/components/bottomsheet/index.mdx
  packages/yoga/src/BottomSheet/BottomSheet.theme.js
  packages/yoga/src/BottomSheet/index.js
  packages/yoga/src/BottomSheet/web/BottomSheet.jsx
  packages/yoga/src/BottomSheet/web/BottomSheet.test.jsx
  packages/yoga/src/BottomSheet/web/Content.jsx
  packages/yoga/src/BottomSheet/web/Footer.jsx
  packages/yoga/src/BottomSheet/web/Header.jsx
  packages/yoga/src/BottomSheet/web/__snapshots__/BottomSheet.test.jsx.snap
  packages/yoga/src/BottomSheet/web/index.js
  packages/yoga/src/Dialog/web/Dialog.jsx
  packages/yoga/src/Dialog/web/__snapshots__/Dialog.test.jsx.snap
  packages/yoga/src/index.js
Labels: @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative, @gympass/yoga-system

#407 Change the limitLabel defaultProps and remove the 0 from numberOfItemsLeft property
  packages/yoga/src/Result/native/Details.jsx
  packages/yoga/src/Result/native/Result.test.jsx
  packages/yoga/src/Result/native/__snapshots__/Result.test.jsx.snap
Labels: @gympass/yoga

#408 fix(result): fix conditional to show additional items in the activiti…
  packages/yoga/src/Result/native/Details.jsx
Labels: @gympass/yoga

#409 Fix/ios dependency cycles
  packages/labnative/ios/Podfile.lock
  packages/yoga/src/Card/native/GymCard/CheckIn/Content.jsx
  packages/yoga/src/Card/native/GymCard/CheckIn/Header.jsx
  packages/yoga/src/Dropdown/native/Backdrop.jsx
  packages/yoga/src/Dropdown/native/Options.ios.jsx
Labels: @gympass/yoga, @gympass/yoga-labnative

#413 fix(dropdown-native): options require cycle in android
  packages/yoga/src/Dropdown/native/Options.android.jsx
Labels: @gympass/yoga

#411 feat(component): a Divider component to separate two parts of another component
  packages/doc/content/components/components/divider/divider-native.mdx
  packages/doc/content/components/components/divider/divider-web.mdx
  packages/doc/content/components/components/divider/index.mdx
  packages/labnative/pages/Divider.jsx
  packages/labnative/pages/index.js
  packages/yoga/src/Divider/Divider.theme.js
  packages/yoga/src/Divider/index.js
  packages/yoga/src/Divider/index.native.js
  packages/yoga/src/Divider/native/Divider.jsx
  packages/yoga/src/Divider/native/Divider.test.jsx
  packages/yoga/src/Divider/native/__snapshots__/Divider.test.jsx.snap
  packages/yoga/src/Divider/native/index.js
  packages/yoga/src/Divider/web/Divider.jsx
  packages/yoga/src/Divider/web/Divider.test.jsx
  packages/yoga/src/Divider/web/__snapshots__/Divider.test.jsx.snap
  packages/yoga/src/Divider/web/index.js
  packages/yoga/src/index.js
  packages/yoga/src/index.native.js
Labels: @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative
