Repository gympass/yoga, pull requests merged in 2021-10, with the labels that each got.

#353 [Theme Generator] Add CodeSandbox project to documentation
  packages/doc/content/components/theming/themeGenerator.mdx
Labels: @gympass/yoga-doc

#354 docs(text): update prop variant to color
  packages/doc/content/components/components/text/default-native.mdx
  packages/doc/content/components/components/text/default-web.mdx
Labels: @gympass/yoga-doc

#356 [DOCS: A11y | Navigation] Make it accessible through keyboard
  packages/doc/src/components/Navigation/Navigation.jsx
Labels: documentation, @gympass/yoga-doc

#357 [Fix | Doc] Apply indentation to collapsibles
  packages/doc/src/components/Navigation/Navigation.jsx
Labels: @gympass/yoga-doc

#355 Start to use Icon Component inside the Tag instead of SVG
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Tag/Tag.theme.js
  packages/yoga/src/Tag/native/Informative.jsx
  packages/yoga/src/Tag/native/__snapshots__/Tag.test.jsx.snap
  packages/yoga/src/Tag/web/Informative.jsx
  packages/yoga/src/Tag/web/__snapshots__/Tag.test.jsx.snap
Labels: @gympass/yoga
