Repository gympass/yoga, pull requests merged in 2021-08, with the labels that each got.

#293 Create Component Result
  packages/labnative/pages/Result.jsx
  packages/yoga/src/Card/native/EventCard/__snapshots__/EventCard.test.jsx.snap
  packages/yoga/src/Result/index.js
  packages/yoga/src/Result/index.native.js
  packages/yoga/src/Result/native/Attendances.jsx
  packages/yoga/src/Result/native/Rate.jsx
  packages/yoga/src/Result/native/Result.jsx
  packages/yoga/src/Result/native/Result.test.jsx
  packages/yoga/src/Result/native/ResultButton.jsx
  packages/yoga/src/Result/native/__snapshots__/Result.test.jsx.snap
  packages/yoga/src/Result/web/Result.jsx
  packages/yoga/src/Result/web/Result.test.jsx
  packages/yoga/src/Result/web/index.js
Labels: @gympass/yoga, @gympass/yoga-labnative

#297 Add Component Result.Details
  packages/doc/CHANGELOG.md
  packages/labnative/CHANGELOG.md
  packages/labnative/pages/Result.jsx
  packages/yoga/CHANGELOG.md
  packages/yoga/src/Result/index.native.js
  packages/yoga/src/Result/native/Details.jsx
Labels: @gympass/yoga, @gympass/yoga-doc, @gympass/yoga-labnative

#300 feat(chips): change native style to match the web
  packages/yoga/src/Chips/native/Chips.jsx
  packages/yoga/src/Chips/native/__snapshots__/Chips.test.jsx.snap
Labels: @gympass/yoga

#298 Add overflow prop to system
  packages/doc/content/system/system/overflow.mdx
  packages/system/src/index.js
  packages/system/src/overflow.js
  packages/system/src/overflow.test.js
  packages/system/src/system.js
Labels: @gympass/yoga-doc, @gympass/yoga-system

#299 Bump React Native to 0.63.4
  babel.config.js
  package.json
  packages/doc/package.json
  packages/doc/src/components/Layout/Layout.jsx
  packages/doc/src/components/Navigation/Navigation.jsx
  packages/doc/src/components/Tokens/Cards.jsx
  packages/doc/src/components/Tokens/Colors.jsx
  packages/doc/src/components/Tokens/Tokens.jsx
  packages/doc/src/components/Tokens/withToken.jsx
  packages/labnative/.flowconfig
  packages/labnative/.gitattributes
  packages/labnative/.gitignore
  packages/labnative/android/app/_BUCK
  packages/labnative/android/app/build.gradle
  packages/labnative/android/app/debug.keystore
  packages/labnative/android/app/src/debug/java/com/labnative/ReactNativeFlipper.java
  packages/labnative/android/app/src/main/AndroidManifest.xml
  packages/labnative/android/app/src/main/java/com/labnative/MainActivity.java
  packages/labnative/android/app/src/main/java/com/labnative/MainApplication.java
  packages/labnative/android/build.gradle
  packages/labnative/android/gradle.properties
  packages/labnative/android/gradle/wrapper/gradle-wrapper.jar
  packages/labnative/android/gradle/wrapper/gradle-wrapper.properties
  packages/labnative/android/gradlew
  packages/labnative/android/gradlew.bat
  packages/labnative/ios/Podfile
  packages/labnative/ios/Podfile.lock
  packages/labnative/ios/labnative-Bridging-Header.h
  packages/labnative/ios/labnative-tvOS/Info.plist
  packages/labnative/ios/labnative-tvOSTests/Info.plist
  packages/labnative/ios/labnative.xcodeproj/project.pbxproj
  packages/labnative/ios/labnative.xcodeproj/xcshareddata/xcschemes/labnative-tvOS.xcscheme
  packages/labnative/ios/labnative.xcodeproj/xcshareddata/xcschemes/labnative.xcscheme
  packages/labnative/ios/labnative.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/labnative/ios/labnative/AppDelegate.h
  packages/labnative/ios/labnative/AppDelegate.m
  packages/labnative/ios/labnative/LaunchScreen.storyboard
  packages/labnative/ios/labnative/main.m
  packages/labnative/ios/labnativeTests/labnativeTests.m
  packages/labnative/metro.config.js
  packages/labnative/package.json
  packages/yoga/src/Button/native/withTouchable.jsx
  packages/yoga/src/Checkbox/native/Switch.jsx
  packages/yoga/src/Checkbox/web/Checkbox.jsx
  packages/yoga/src/Checkbox/web/__snapshots__/Checkbox.test.jsx.snap
  packages/yoga/src/Chips/native/Counter.jsx
  packages/yoga/src/Chips/native/__snapshots__/Chips.test.jsx.snap
  packages/yoga/src/Dropdown/native/Backdrop.jsx
  packages/yoga/src/Dropdown/native/Options.android.jsx
  packages/yoga/src/Input/native/Input.jsx
  packages/yoga/src/List/native/__snapshots__/List.test.jsx.snap
  packages/yoga/src/Slider/native/__snapshots__/Slider.test.jsx.snap
  yarn.lock
Labels: @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative, @gympass/yoga-system

#304 Update XCode project settings and babel config
  babel.config.js
  packages/labnative/ios/Podfile.lock
  packages/labnative/ios/labnative.xcodeproj/project.pbxproj
Labels: @gympass/yoga-labnative

#296 Create component Result
  packages/doc/content/components/components/result/index.mdx
  packages/doc/content/components/components/result/result-native.mdx
  packages/doc/content/components/components/tag/default-native.mdx
  packages/doc/content/components/components/tag/default-web.mdx
  packages/doc/content/components/components/tag/informative-native.mdx
  packages/doc/content/components/components/tag/informative-web.mdx
  packages/labnative/pages/Result.jsx
  packages/labnative/pages/Tag.jsx
  packages/labnative/pages/index.js
  packages/yoga/src/Avatar/native/Avatar.jsx
  packages/yoga/src/Avatar/native/__snapshots__/Avatar.test.jsx.snap
  packages/yoga/src/Card/native/EventCard/__snapshots__/EventCard.test.jsx.snap
  packages/yoga/src/Card/native/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Result/Result.theme.js
  packages/yoga/src/Result/index.native.js
  packages/yoga/src/Result/native/Attendances.jsx
  packages/yoga/src/Result/native/Details.jsx
  packages/yoga/src/Result/native/Rate.jsx
  packages/yoga/src/Result/native/Result.jsx
  packages/yoga/src/Result/native/Result.test.jsx
  packages/yoga/src/Result/native/ResultButton.jsx
  packages/yoga/src/Result/native/Tags.jsx
  packages/yoga/src/Result/native/__snapshots__/Result.test.jsx.snap
  packages/yoga/src/Result/native/index.js
  packages/yoga/src/Tag/Tag.theme.js
  packages/yoga/src/Tag/native/Informative.jsx
  packages/yoga/src/Tag/native/Tag.jsx
  packages/yoga/src/Tag/native/Tag.test.jsx
  packages/yoga/src/Tag/native/__snapshots__/Tag.test.jsx.snap
  packages/yoga/src/Tag/web/Informative.jsx
  packages/yoga/src/Tag/web/Tag.jsx
  packages/yoga/src/index.native.js
Labels: @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative

#302 New component Avatar for web
  packages/doc/content/components/components/avatar/avatar-native.mdx
  packages/doc/content/components/components/avatar/avatar-web.mdx
  packages/doc/content/components/components/avatar/index.mdx
  packages/yoga/src/Avatar/index.js
  packages/yoga/src/Avatar/native/Avatar.jsx
  packages/yoga/src/Avatar/web/Avatar.jsx
  packages/yoga/src/Avatar/web/Avatar.test.jsx
  packages/yoga/src/Avatar/web/AvatarCircle.jsx
  packages/yoga/src/Avatar/web/__snapshots__/Avatar.test.jsx.snap
  packages/yoga/src/Icon/Icon.jsx
  packages/yoga/src/index.js
Labels: @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative, @gympass/yoga-system

#308 Add Result to YogaNativeComponents modules
  packages/doc/src/components/CodeBlock/CodeBlock.jsx
  packages/doc/src/components/CodeBlock/shared/modules/modules.js
Labels: @gympass/yoga-doc, @gympass/yoga

#307 Add size prop to Icon component
  packages/doc/content/components/components/icon/icon-native.mdx
  packages/doc/content/components/components/icon/icon-web.mdx
  packages/doc/content/components/components/icon/index.mdx
  packages/doc/src/components/CodeBlock/shared/modules/modules.js
  packages/yoga/src/Icon/Icon.jsx
  packages/yoga/src/Icon/native/Icon.test.jsx
  packages/yoga/src/Icon/native/__snapshots__/Icon.test.jsx.snap
  packages/yoga/src/Icon/web/Icon.test.jsx
  packages/yoga/src/Icon/web/__snapshots__/Icon.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative

#313 ✨ Change Icon color inside PlanCard
  packages/doc/content/components/components/card/plancard-native.mdx
  packages/doc/content/components/components/card/plancard-web.mdx
  packages/yoga/src/Card/native/PlanCard/List.jsx
  packages/yoga/src/Card/native/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Card/web/PlanCard/List.jsx
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga

#289 docs: update outline button proptypes
  packages/yoga/src/Button/web/Outline.jsx
Labels: @gympass/yoga

#315 [ENJ-288] - Adjust Button small prop fontsize
  packages/yoga/src/Button/Button.theme.js
  packages/yoga/src/Button/native/__snapshots__/Button.test.jsx.snap
  packages/yoga/src/Button/web/__snapshots__/Button.test.jsx.snap
  packages/yoga/src/Card/native/EventCard/__snapshots__/EventCard.test.jsx.snap
Labels: @gympass/yoga

#319 Add UserFilledStar to native
  packages/icons/src/index.native.js
  packages/icons/src/svg/index.native.js
Labels: @gympass/yoga-icons

#320 fix(icons): add native extension
  packages/icons/src/svg/index.native.js
Labels: @gympass/yoga-icons

#321 Allow UserFilledStar to have a dynamic color
  packages/icons/src/svg/user_filled_star.svg
Labels: @gympass/yoga-icons

#325 Use only one file to export icons
  packages/icons/babel.config.js
  packages/icons/package.json
  packages/icons/src/index.js
  packages/icons/src/index.native.js
  packages/icons/src/svg/index.js
  packages/icons/src/svg/index.native.js
  yarn.lock
Labels: @gympass/yoga-icons

#329 Updating Avatar and fixing `sharp` version
  package.json
  packages/yoga/src/Avatar/native/Avatar.jsx
  yarn.lock
Labels: @gympass/yoga
