Repository gympass/yoga, pull requests merged in 2021-06, with the labels that each got.

#257 Add `letter-spacing` to Text.Section
  packages/yoga/src/Text/Text.theme.js
  packages/yoga/src/Text/native/__snapshots__/Text.test.jsx.snap
  packages/yoga/src/Text/sharedTextStyle.jsx
  packages/yoga/src/Text/web/__snapshots__/Text.test.jsx.snap
Labels: @gympass/yoga

#255 Add 's' at the end of import yoga-helpers
  packages/doc/content/components/helpers/media.mdx
Labels: @gympass/yoga-doc

#256 Remove topic 'media.min' at media
  packages/doc/content/components/helpers/media.mdx
Labels: @gympass/yoga-doc

#261 New Component: Chips
  packages/doc/content/components/components/chips/chips-native.mdx
  packages/doc/content/components/components/chips/chips-web.mdx
  packages/doc/content/components/components/chips/index.mdx
  packages/labnative/pages/Chips.jsx
  packages/labnative/pages/index.js
  packages/yoga/src/Chips/index.js
  packages/yoga/src/Chips/index.native.js
  packages/yoga/src/Chips/native/Chips.jsx
  packages/yoga/src/Chips/native/Chips.test.jsx
  packages/yoga/src/Chips/native/Counter.jsx
  packages/yoga/src/Chips/native/__snapshots__/Chips.test.jsx.snap
  packages/yoga/src/Chips/native/index.js
  packages/yoga/src/Chips/web/Chips.jsx
  packages/yoga/src/Chips/web/Chips.test.jsx
  packages/yoga/src/Chips/web/Counter.jsx
  packages/yoga/src/Chips/web/__snapshots__/Chips.test.jsx.snap
  packages/yoga/src/Chips/web/index.js
  packages/yoga/src/index.js
  packages/yoga/src/index.native.js
Labels: @gympass/yoga, @gympass/yoga-doc, @gympass/yoga-labnative, @gympass/yoga-tokens

#263 Add 'react-scripts' as dependency
  packages/doc/src/components/CodeBlock/ReactLive/sandboxConfig.js
Labels: @gympass/yoga-doc

#266 Doc: fix import of styled elements
  packages/doc/src/components/CodeBlock/CodeBlock.jsx
Labels: @gympass/yoga-doc

#264 Yoga system
  jest/config/config.js
  jest/config/system.js
  package.json
  packages/doc/CHANGELOG.md
  packages/doc/content/system/getting-started/index.mdx
  packages/doc/content/system/index.mdx
  packages/doc/content/system/system/backgroundColor.mdx
  packages/doc/content/system/system/border.mdx
  packages/doc/content/system/system/elevation.mdx
  packages/doc/content/system/system/index.mdx
  packages/doc/content/system/system/spacing.mdx
  packages/doc/content/system/system/typography.mdx
  packages/doc/package.json
  packages/doc/src/components/Documentation/Documentation.jsx
  packages/doc/src/components/Layout/Layout.jsx
  packages/doc/src/images/wrench.svg
  packages/doc/src/pages/index.jsx
  packages/labnative/CHANGELOG.md
  packages/labnative/metro.config.js
  packages/system/README.md
  packages/system/babel.config.js
  packages/system/package.json
  packages/system/src/border.js
  packages/system/src/border.test.js
  packages/system/src/color.js
  packages/system/src/color.test.js
  packages/system/src/elevation.js
  packages/system/src/elevation.test.js
  packages/system/src/index.js
  packages/system/src/spacing.js
  packages/system/src/spacing.test.js
  packages/system/src/system.js
  packages/system/src/theme.js
  packages/system/src/typography.js
  packages/system/src/typography.test.js
  packages/system/src/unit.js
  packages/tokens/CHANGELOG.md
  packages/tokens/src/global/font-weights.js
  packages/yoga/CHANGELOG.md
  packages/yoga/package.json
Labels: @gympass/yoga, @gympass/yoga-doc, @gympass/yoga-labnative, @gympass/yoga-tokens

#270 :bug: Fix Input error message color
  packages/yoga/src/AutoComplete/web/__snapshots__/AutoComplete.test.jsx.snap
  packages/yoga/src/Input/web/Fieldset.jsx
  packages/yoga/src/Input/web/__snapshots__/Email.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Input.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Number.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Password.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Tel.test.jsx.snap
  packages/yoga/src/TextArea/web/__snapshots__/TextArea.test.jsx.snap
Labels: @gympass/yoga, bug, good first issue

#272 New component Box
  README.md
  packages/doc/content/components/components/box/box-native.mdx
  packages/doc/content/components/components/box/box-web.mdx
  packages/doc/content/components/components/box/index.mdx
  packages/doc/content/system/getting-started/index.mdx
  packages/doc/src/components/Layout/Layout.jsx
  packages/labnative/pages/Box.jsx
  packages/labnative/pages/index.js
  packages/yoga/src/Box/index.js
  packages/yoga/src/Box/index.native.js
  packages/yoga/src/Box/native/Box.jsx
  packages/yoga/src/Box/native/Box.test.jsx
  packages/yoga/src/Box/native/__snapshots__/Box.test.jsx.snap
  packages/yoga/src/Box/native/index.js
  packages/yoga/src/Box/web/Box.jsx
  packages/yoga/src/Box/web/Box.test.jsx
  packages/yoga/src/Box/web/__snapshots__/Box.test.jsx.snap
  packages/yoga/src/Box/web/index.js
  packages/yoga/src/index.js
  packages/yoga/src/index.native.js
Labels: @gympass/yoga, @gympass/yoga-doc, @gympass/yoga-labnative

#273 Add `react` as a peer dependency to `@gympass/yoga`
  packages/icons/package.json
  packages/yoga/package.json
Labels: @gympass/yoga, @gympass/yoga-icons

#274 EventCard: update and add small version
  packages/labnative/pages/Card.jsx
  packages/yoga/src/Button/Button.theme.js
  packages/yoga/src/Button/native/__snapshots__/Button.test.jsx.snap
  packages/yoga/src/Button/web/__snapshots__/Button.test.jsx.snap
  packages/yoga/src/Card/native/EventCard/EventCard.jsx
  packages/yoga/src/Card/native/EventCard/EventCard.test.jsx
  packages/yoga/src/Card/native/EventCard/__snapshots__/EventCard.test.jsx.snap
Labels: @gympass/yoga, @gympass/yoga-labnative

#280 fix: fix checkbox width when adding large label text
  packages/yoga/src/Checkbox/web/Checkbox.jsx
  packages/yoga/src/Checkbox/web/__snapshots__/Checkbox.test.jsx.snap
Labels: @gympass/yoga, bug, good first issue

#284 Upgrade system
  .github/labeler.yml
  packages/doc/content/components/components/box/box-native.mdx
  packages/doc/content/components/components/box/box-web.mdx
  packages/doc/content/system/system/flex.mdx
  packages/doc/content/system/system/layout.mdx
  packages/doc/content/system/system/spacing.mdx
  packages/labnative/pages/Box.jsx
  packages/system/src/flex.js
  packages/system/src/flex.test.js
  packages/system/src/index.js
  packages/system/src/layout.js
  packages/system/src/layout.test.js
  packages/system/src/spacing.js
  packages/system/src/spacing.test.js
  packages/system/src/system.js
  packages/system/src/theme.js
Labels: @gympass/yoga-doc, @gympass/yoga-labnative, @gympass/yoga-system
