Repository gympass/yoga, pull requests merged in 2021-09, with the labels that each got.

#326 Refactor docs on components
  packages/doc/content/components/components/button/default-web.mdx
  packages/doc/content/components/components/button/link-web.mdx
  packages/doc/content/components/components/button/outline.mdx
  packages/doc/content/components/components/button/text-web.mdx
  packages/doc/content/components/components/list/list-web.mdx
  packages/doc/content/components/components/progress/progress-web.mdx
  packages/doc/content/components/components/rating/rating-web.mdx
  packages/doc/content/components/components/snackbar/index.mdx
  packages/doc/content/components/components/stepper/stepper-web.mdx
  packages/doc/content/components/components/tag/default-web.mdx
  packages/doc/content/components/components/text/default-web.mdx
Labels: @gympass/yoga-doc

#327 Create list selectable item
  packages/labnative/pages/List.jsx
  packages/yoga/src/Card/native/EventCard/__snapshots__/EventCard.test.jsx.snap
  packages/yoga/src/List/List.theme.js
  packages/yoga/src/List/native/List.test.jsx
  packages/yoga/src/List/native/ListItem.jsx
  packages/yoga/src/List/native/__snapshots__/List.test.jsx.snap
Labels: @gympass/yoga, @gympass/yoga-labnative

#332 Revisiting `fontWeight` on Android
  packages/labnative/pages/Box.jsx
  packages/system/src/fontWeight.android.js
  packages/system/src/fontWeight.js
  packages/system/src/typography.js
  packages/system/src/typography.test.js
Labels: @gympass/yoga-labnative, @gympass/yoga-system

#333 EventCard + metro + Slack
  packages/labnative/metro.config.js
  packages/yoga/src/Card/native/EventCard/EventCard.jsx
  packages/yoga/src/Card/native/EventCard/__snapshots__/EventCard.test.jsx.snap
  scripts/notify.js
Labels: @gympass/yoga, @gympass/yoga-labnative

#334 Add layout adjustments to Result
  packages/labnative/pages/Result.jsx
  packages/yoga/src/Result/native/Attendances.jsx
  packages/yoga/src/Result/native/Details.jsx
  packages/yoga/src/Result/native/__snapshots__/Result.test.jsx.snap
Labels: @gympass/yoga, @gympass/yoga-labnative

#336 fix(Avatar): add required Avatar styling in web version
  packages/yoga/src/Avatar/web/Avatar.jsx
  packages/yoga/src/Avatar/web/__snapshots__/Avatar.test.jsx.snap
Labels: @gympass/yoga

#337 Fix Result align on android devices
  packages/yoga/src/Result/native/Attendances.jsx
  packages/yoga/src/Result/native/Details.jsx
  packages/yoga/src/Result/native/TinyTextIcon.jsx
  packages/yoga/src/Result/native/__snapshots__/Result.test.jsx.snap
Labels: @gympass/yoga

#338 Change attendances font color
  packages/yoga/src/Result/native/Attendances.jsx
  packages/yoga/src/Result/native/__snapshots__/Result.test.jsx.snap
Labels: @gympass/yoga

#335 Add system support for Icon
  packages/doc/content/components/components/icon/icon-native.mdx
  packages/doc/content/components/components/icon/icon-web.mdx
  packages/doc/content/components/components/icon/index.mdx
  packages/labnative/ios/Podfile.lock
  packages/labnative/ios/labnative.xcodeproj/project.pbxproj
  packages/labnative/pages/Card.jsx
  packages/labnative/pages/Icon.jsx
  packages/system/package.json
  packages/system/src/theme.js
  packages/yoga/package.json
  packages/yoga/src/Avatar/native/__snapshots__/Avatar.test.jsx.snap
  packages/yoga/src/Avatar/web/__snapshots__/Avatar.test.jsx.snap
  packages/yoga/src/Card/native/PlanCard/List.jsx
  packages/yoga/src/Card/native/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Icon/Icon.jsx
  packages/yoga/src/Icon/native/Icon.test.jsx
  packages/yoga/src/Icon/native/__snapshots__/Icon.test.jsx.snap
  packages/yoga/src/Icon/web/Icon.test.jsx
  packages/yoga/src/Icon/web/__snapshots__/Icon.test.jsx.snap
  packages/yoga/src/Result/native/Rate.jsx
  packages/yoga/src/Result/native/Result.jsx
  packages/yoga/src/Result/native/TinyTextIcon.jsx
  packages/yoga/src/Result/native/__snapshots__/Result.test.jsx.snap
  packages/yoga/src/Slider/native/Marker.jsx
  packages/yoga/src/Slider/native/Tooltip.jsx
  packages/yoga/src/Slider/native/__snapshots__/Slider.test.jsx.snap
  packages/yoga/src/Snackbar/web/__snapshots__/Snackbar.test.jsx.snap
Labels: @gympass/yoga-common, @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative, @gympass/yoga-system

#340 Update icon Close
  packages/icons/src/svg/close.svg
Labels: @gympass/yoga-icons

#339 ✨ Add system support for Progress
  packages/doc/content/components/components/progress/progress-native.mdx
  packages/doc/content/components/components/progress/progress-web.mdx
  packages/yoga/src/Progress/native/Progress.jsx
  packages/yoga/src/Progress/native/Progress.test.jsx
  packages/yoga/src/Progress/native/__snapshots__/Progress.test.jsx.snap
  packages/yoga/src/Progress/web/Progress.jsx
  packages/yoga/src/Progress/web/Progress.test.jsx
  packages/yoga/src/Progress/web/__snapshots__/Progress.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga

#344 Implement Theme Generator function `createTheme` with consumption by `<ThemeProvider>`
  CONTRIBUTING.md
  packages/doc/content/components/theming/borders.mdx
  packages/doc/content/components/theming/breakpoints.mdx
  packages/doc/content/components/theming/colors.mdx
  packages/doc/content/components/theming/elevations.mdx
  packages/doc/content/components/theming/font-sizes.mdx
  packages/doc/content/components/theming/font-weights.mdx
  packages/doc/content/components/theming/fonts.mdx
  packages/doc/content/components/theming/line-heights.mdx
  packages/doc/content/components/theming/shapes.mdx
  packages/doc/content/components/theming/spacing.mdx
  packages/doc/content/components/theming/themeGenerator.mdx
  packages/doc/content/components/theming/themeProvider.mdx
  packages/yoga/src/Theme/Provider/Provider.jsx
  packages/yoga/src/Theme/helpers/themeGenerator/index.js
  packages/yoga/src/Theme/helpers/themeGenerator/themeGenerator.js
  packages/yoga/src/Theme/helpers/themeGenerator/themeGenerator.test.js
  packages/yoga/src/Theme/index.js
  packages/yoga/src/Theme/theme/theme.js
  packages/yoga/src/index.js
Labels: @gympass/yoga-doc, @gympass/yoga

#347 feat(Button): Adjust button content alignment
  packages/yoga/src/Button/web/StyledButton.jsx
  packages/yoga/src/Button/web/__snapshots__/Button.test.jsx.snap
  packages/yoga/src/Card/web/Card/__snapshots__/Card.test.jsx.snap
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
Labels: @gympass/yoga

#346 Add text align css property into typography module (Yoga system)
  packages/doc/content/system/system/typography.mdx
  packages/system/src/typography.js
  packages/system/src/typography.test.js
Labels: @gympass/yoga-doc, @gympass/yoga-system

#351 Fix `padding-line-between-statements` rule usage inside `typography`'s spec
  packages/system/src/typography.test.js
Labels: @gympass/yoga-system
