Repository gympass/yoga, pull requests merged in 2021-05, with the labels that each got.

#246 Refactor/plancard
  packages/doc/content/components/components/card/plancard-native.mdx
  packages/doc/content/components/components/card/plancard-web.mdx
  packages/labnative/pages/Card.jsx
  packages/yoga/src/Card/Card.theme.js
  packages/yoga/src/Card/native/PlanCard/List.jsx
  packages/yoga/src/Card/native/PlanCard/PlanCard.test.jsx
  packages/yoga/src/Card/native/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Card/web/PlanCard/List.jsx
  packages/yoga/src/Card/web/PlanCard/PlanCard.test.jsx
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
Labels: @gympass/yoga, @gympass/yoga-doc, @gympass/yoga-labnative

#250 Fix AutoComplete onClean/onSelect event
  packages/doc/content/components/components/autocomplete/index.mdx
  packages/yoga/src/AutoComplete/web/AutoComplete.jsx
  packages/yoga/src/AutoComplete/web/AutoComplete.test.jsx
Labels: @gympass/yoga, @gympass/yoga-doc

#251 Duplicated margin right on icon
  packages/yoga/src/Card/web/PlanCard/List.jsx
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
Labels: @gympass/yoga

#252 `<Text />` New prop `numberOfLines` to truncate text with ellipsis
  packages/doc/content/components/components/text/default-web.mdx
  packages/yoga/src/Text/native/Text.jsx
  packages/yoga/src/Text/sharedTextStyle.jsx
  packages/yoga/src/Text/textStyle.android.jsx
  packages/yoga/src/Text/textStyle.native.jsx
  packages/yoga/src/Text/textStyle.web.jsx
  packages/yoga/src/Text/web/Text.jsx
  packages/yoga/src/Text/web/Text.test.jsx
  packages/yoga/src/Text/web/__snapshots__/Text.test.jsx.snap
Labels: @gympass/yoga, @gympass/yoga-doc
