Repository gympass/yoga, pull requests merged in 2021-01, with the labels that each got.

#204 size and light for Text
  lerna.json
  packages/doc/content/components/components/text/default-native.mdx
  packages/doc/content/components/components/text/default-web.mdx
  packages/doc/content/components/components/text/index.mdx
  packages/labnative/pages/Text.jsx
  packages/yoga/src/Card/native/GymCard/CheckIn/__snapshots__/CheckIn.test.jsx.snap
  packages/yoga/src/Card/web/EventCard/EventCard.jsx
  packages/yoga/src/Dropdown/native/__snapshots__/Dropdown.test.jsx.snap
  packages/yoga/src/Slider/web/__snapshots__/Slider.test.jsx.snap
  packages/yoga/src/Stepper/web/__snapshots__/Stepper.test.jsx.snap
  packages/yoga/src/Text/native/Text.jsx
  packages/yoga/src/Text/native/Text.test.jsx
  packages/yoga/src/Text/native/__snapshots__/Text.test.jsx.snap
  packages/yoga/src/Text/textStyle.android.jsx
  packages/yoga/src/Text/textStyle.jsx
  packages/yoga/src/Text/web/Text.jsx
  packages/yoga/src/Text/web/Text.test.jsx
  packages/yoga/src/Text/web/__snapshots__/Text.test.jsx.snap
Labels: @gympass/yoga, @gympass/yoga-doc, @gympass/yoga-labnative

#205 docs: update text patterns to medium size
  packages/doc/content/components/components/text/index.mdx
Labels: @gympass/yoga-doc

#207 Fix Star icon
  .github/workflows/npmpublish.yml
  packages/doc/content/components/icons/icons-native.mdx
  packages/doc/content/components/icons/icons-web.mdx
  packages/icons/src/svg/star.svg
  packages/yoga/src/Rating/web/Rating.jsx
Labels: @gympass/yoga, @gympass/yoga-doc, @gympass/yoga-icons
