Repository gympass/yoga, pull requests merged in 2021-02, with the labels that each got.

#209 feat(colors): add feedback colors
  packages/tokens/src/global/colors.js
  packages/yoga/src/Theme/theme/theme.js
Labels: @gympass/yoga, @gympass/yoga-tokens

#211 Update state management input
  packages/yoga/src/Input/native/Input.jsx
  packages/yoga/src/Input/native/Input.test.jsx
  packages/yoga/src/Input/web/Input.jsx
  packages/yoga/src/Input/web/Input.test.jsx
Labels: @gympass/yoga

#212 Add IconWrapper abstraction
  packages/doc/content/components/components/icon/icon-native.mdx
  packages/doc/content/components/components/icon/icon-web.mdx
  packages/doc/content/components/components/icon/index.mdx
  packages/doc/src/components/PropsTable/PropsTable.jsx
  packages/labnative/pages/Icon.jsx
  packages/labnative/pages/IconsList.jsx
  packages/labnative/pages/index.js
  packages/yoga/src/Icon/Icon.jsx
  packages/yoga/src/Icon/Icon.theme.js
  packages/yoga/src/Icon/index.js
  packages/yoga/src/Icon/index.native.js
  packages/yoga/src/Icon/native/Icon.test.jsx
  packages/yoga/src/Icon/native/__snapshots__/Icon.test.jsx.snap
  packages/yoga/src/Icon/native/index.js
  packages/yoga/src/Icon/web/Icon.test.jsx
  packages/yoga/src/Icon/web/__snapshots__/Icon.test.jsx.snap
  packages/yoga/src/Icon/web/index.js
  packages/yoga/src/index.js
  packages/yoga/src/index.native.js
Labels: @gympass/yoga, @gympass/yoga-doc, @gympass/yoga-labnative, enhancement

#215 Fix color name - Icon Wrapper
  packages/yoga/src/Icon/Icon.jsx
Labels: @gympass/yoga, documentation

#218 Fix width and height usage in Icon component
  packages/yoga/src/Icon/Icon.jsx
Labels: @gympass/yoga, bug

#224 Add Dumbbell Filled Icon
  packages/icons/src/index.js
  packages/icons/src/index.native.js
  packages/icons/src/svg/booking_filled.svg
  packages/icons/src/svg/dumbbell_filled.svg
  packages/icons/src/svg/index.js
  packages/icons/src/svg/index.native.js
Labels: @gympass/yoga-icons
