Repository gympass/yoga, pull requests merged in 2021-07, with the labels that each got.

#285 Removing the fixed height on PlanCard List
  packages/yoga/src/Card/Card.theme.js
  packages/yoga/src/Card/native/EventCard/__snapshots__/EventCard.test.jsx.snap
  packages/yoga/src/Card/native/PlanCard/List.jsx
  packages/yoga/src/Card/native/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Card/web/PlanCard/List.jsx
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
Labels: @gympass/yoga, enhancement

#287 New component avatar
  packages/doc/content/components/components/avatar/avatar-native.mdx
  packages/doc/content/components/components/avatar/index.mdx
  packages/icons/src/index.js
  packages/icons/src/svg/index.js
  packages/icons/src/svg/user_filled_star.svg
  packages/labnative/assets/images/avatarIcons/avatar.png
  packages/labnative/assets/images/avatarIcons/class.png
  packages/labnative/assets/images/avatarIcons/defaultAvatar.png
  packages/labnative/assets/images/avatarIcons/defaultAvatarCircle.png
  packages/labnative/pages/Avatar.jsx
  packages/labnative/pages/index.js
  packages/yoga/src/Avatar/Avatar.theme.js
  packages/yoga/src/Avatar/index.native.js
  packages/yoga/src/Avatar/native/Avatar.jsx
  packages/yoga/src/Avatar/native/Avatar.test.jsx
  packages/yoga/src/Avatar/native/AvatarCircle.jsx
  packages/yoga/src/Avatar/native/Image.jsx
  packages/yoga/src/Avatar/native/Placeholder.jsx
  packages/yoga/src/Avatar/native/__snapshots__/Avatar.test.jsx.snap
  packages/yoga/src/Card/native/EventCard/__snapshots__/EventCard.test.jsx.snap
  packages/yoga/src/index.native.js
Labels: @gympass/yoga, @gympass/yoga-doc, @gympass/yoga-icons, @gympass/yoga-labnative

#292 Fix Chips margin right
  packages/yoga/src/Chips/native/Chips.jsx
  packages/yoga/src/Chips/native/__snapshots__/Chips.test.jsx.snap
  packages/yoga/src/Chips/web/Chips.jsx
  packages/yoga/src/Chips/web/__snapshots__/Chips.test.jsx.snap
Labels: @gympass/yoga

#288 ✨ Add snackbar
  packages/doc/content/components/components/snackbar/index.mdx
  packages/yoga/src/Card/native/EventCard/__snapshots__/EventCard.test.jsx.snap
  packages/yoga/src/Snackbar/Snackbar.theme.js
  packages/yoga/src/Snackbar/index.js
  packages/yoga/src/Snackbar/web/Snackbar.jsx
  packages/yoga/src/Snackbar/web/Snackbar.test.jsx
  packages/yoga/src/Snackbar/web/__snapshots__/Snackbar.test.jsx.snap
  packages/yoga/src/Snackbar/web/index.js
  packages/yoga/src/index.js
Labels: @gympass/yoga, @gympass/yoga-doc, enhancement

#291 Create a doc for themes
  .vscode/tasks.json
  packages/doc/content/components/components/theme/index.mdx
  packages/doc/content/components/theming/borders.mdx
  packages/doc/content/components/theming/breakpoints.mdx
  packages/doc/content/components/theming/colors.mdx
  packages/doc/content/components/theming/elevations.mdx
  packages/doc/content/components/theming/font-sizes.mdx
  packages/doc/content/components/theming/font-weights.mdx
  packages/doc/content/components/theming/fonts.mdx
  packages/doc/content/components/theming/index.mdx
  packages/doc/content/components/theming/line-heights.mdx
  packages/doc/content/components/theming/shapes.mdx
  packages/doc/content/components/theming/spacing.mdx
  packages/doc/content/components/theming/theme.mdx
  packages/doc/content/components/theming/themeProvider.mdx
  packages/doc/content/components/theming/themereader.mdx
  packages/doc/gatsby-node.js
  packages/doc/package.json
  packages/doc/src/components/Documentation/Documentation.jsx
  packages/doc/src/components/Theme/Borders.jsx
  packages/doc/src/components/Theme/Breakpoints.jsx
  packages/doc/src/components/Theme/Colors.jsx
  packages/doc/src/components/Theme/Elevations.jsx
  packages/doc/src/components/Theme/FontSizes.jsx
  packages/doc/src/components/Theme/FontWeights.jsx
  packages/doc/src/components/Theme/Fonts.jsx
  packages/doc/src/components/Theme/Inspector.jsx
  packages/doc/src/components/Theme/Lineheights.jsx
  packages/doc/src/components/Theme/Shape.jsx
  packages/doc/src/components/Theme/Spacing.jsx
  packages/doc/src/components/Theme/index.jsx
  yarn.lock
Labels: @gympass/yoga, @gympass/yoga-doc, @gympass/yoga-icons, @gympass/yoga-labnative, @gympass/yoga-system, @gympass/yoga-tokens
