Repository gympass/yoga, pull requests merged in 2021-03, with the labels that each got.

#223 Feat/new tag
  packages/doc/content/components/components/tag/default-native.mdx
  packages/doc/content/components/components/tag/default-web.mdx
  packages/doc/content/components/components/tag/default.mdx
  packages/doc/content/components/components/tag/index.mdx
  packages/doc/content/components/components/tag/informative-native.mdx
  packages/doc/content/components/components/tag/informative-web.mdx
  packages/doc/content/components/components/tag/informative.mdx
  packages/doc/content/components/components/tag/tag-native.mdx
  packages/doc/content/components/components/tag/tag-web.mdx
  packages/labnative/pages/Tag.jsx
  packages/yoga/src/Tag/Tag.theme.js
  packages/yoga/src/Tag/index.js
  packages/yoga/src/Tag/index.native.js
  packages/yoga/src/Tag/native/Informative.jsx
  packages/yoga/src/Tag/native/Tag.jsx
  packages/yoga/src/Tag/native/Tag.test.jsx
  packages/yoga/src/Tag/native/__snapshots__/Tag.test.jsx.snap
  packages/yoga/src/Tag/web/Informative.jsx
  packages/yoga/src/Tag/web/Tag.jsx
  packages/yoga/src/Tag/web/Tag.test.jsx
  packages/yoga/src/Tag/web/__snapshots__/Tag.test.jsx.snap
Labels: @gympass/yoga, @gympass/yoga-doc, @gympass/yoga-labnative

#228 Add new variations to the text component
  packages/doc/content/components/components/text/default-native.mdx
  packages/doc/content/components/components/text/default-web.mdx
  packages/doc/content/components/components/text/index.mdx
  packages/labnative/pages/Text.jsx
  packages/yoga/src/Text/Text.theme.js
  packages/yoga/src/Text/index.js
  packages/yoga/src/Text/index.native.js
  packages/yoga/src/Text/native/Text.jsx
  packages/yoga/src/Text/native/Text.test.jsx
  packages/yoga/src/Text/native/__snapshots__/Text.test.jsx.snap
  packages/yoga/src/Text/native/index.js
  packages/yoga/src/Text/textStyle.android.jsx
  packages/yoga/src/Text/textStyle.jsx
  packages/yoga/src/Text/web/Text.jsx
  packages/yoga/src/Text/web/Text.test.jsx
  packages/yoga/src/Text/web/__snapshots__/Text.test.jsx.snap
  packages/yoga/src/Text/web/index.js
Labels: @gympass/yoga, @gympass/yoga-doc, @gympass/yoga-labnative, enhancement

#231 Remove withTheme HOC from Tag
  packages/yoga/src/Tag/native/Tag.jsx
  packages/yoga/src/Tag/native/__snapshots__/Tag.test.jsx.snap
Labels: @gympass/yoga

#234 Add Pause/Play icons
  packages/icons/src/index.js
  packages/icons/src/index.native.js
  packages/icons/src/svg/index.js
  packages/icons/src/svg/index.native.js
  packages/icons/src/svg/pause.svg
  packages/icons/src/svg/play.svg
Labels: @gympass/yoga-icons

#220 Refactor/switch
  packages/doc/CHANGELOG.md
  packages/icons/CHANGELOG.md
  packages/labnative/CHANGELOG.md
  packages/yoga/CHANGELOG.md
  packages/yoga/src/Button/native/withTouchable.jsx
  packages/yoga/src/Checkbox/CheckboxSwitch.theme.js
  packages/yoga/src/Checkbox/native/Switch.jsx
  packages/yoga/src/Checkbox/native/__snapshots__/Switch.test.jsx.snap
  packages/yoga/src/Checkbox/web/Switch.jsx
  packages/yoga/src/Checkbox/web/__snapshots__/Switch.test.jsx.snap
  packages/yoga/src/RadioGroup/RadioGroup.theme.js
  packages/yoga/src/RadioGroup/native/Button/RadioButton.jsx
  packages/yoga/src/RadioGroup/native/Button/__snapshots__/RadioButton.test.jsx.snap
  packages/yoga/src/RadioGroup/native/__snapshots__/RadioGroup.test.jsx.snap
  yarn.lock
Labels: @gympass/yoga, @gympass/yoga-doc, @gympass/yoga-icons, @gympass/yoga-labnative, enhancement
