Repository gympass/yoga, pull requests merged in 2022-06, with the labels that each got.

#477 Ds 368 add forward ref to all yoga components
  packages/labnative/ios/Podfile.lock
  packages/yoga/src/AutoComplete/web/AutoComplete.jsx
  packages/yoga/src/Banner/native/Banner.jsx
  packages/yoga/src/Banner/web/Banner.jsx
  packages/yoga/src/Card/native/Card/Card.jsx
  packages/yoga/src/Card/web/Card/Card.jsx
  packages/yoga/src/Chips/native/Chips.jsx
  packages/yoga/src/Chips/web/Chips.jsx
  packages/yoga/src/Divider/native/Divider.jsx
  packages/yoga/src/Divider/web/Divider.jsx
  packages/yoga/src/Dropdown/native/Dropdown.jsx
  packages/yoga/src/Dropdown/web/Dropdown.jsx
  packages/yoga/src/Input/native/Email.jsx
  packages/yoga/src/Input/native/Helper.jsx
  packages/yoga/src/Input/native/Input.jsx
  packages/yoga/src/Input/native/Number.jsx
  packages/yoga/src/Input/native/Password.jsx
  packages/yoga/src/Input/native/Tel.jsx
  packages/yoga/src/Input/web/Email.jsx
  packages/yoga/src/Input/web/Legend.jsx
  packages/yoga/src/Input/web/Number.jsx
  packages/yoga/src/Input/web/Tel.jsx
  packages/yoga/src/Input/web/__snapshots__/Number.test.jsx.snap
  packages/yoga/src/List/native/List.jsx
  packages/yoga/src/List/web/List.jsx
  packages/yoga/src/Progress/native/Progress.jsx
  packages/yoga/src/Progress/web/Progress.jsx
  packages/yoga/src/RadioGroup/native/Button/RadioButton.jsx
  packages/yoga/src/RadioGroup/native/Radio/Radio.jsx
  packages/yoga/src/RadioGroup/web/Button/RadioButton.jsx
  packages/yoga/src/RadioGroup/web/Radio/Radio.jsx
  packages/yoga/src/Snackbar/web/Snackbar.jsx
Labels: @gympass/yoga, @gympass/yoga-labnative

#490 Update Eslint
  .eslintrc.js
  .prettierrc
  package.json
  packages/doc/src/components/CodeBlock/ReactLive/CodeToolbar.jsx
  packages/doc/src/components/CodeBlock/shared/templates/web.js
  packages/doc/src/templates/docs.jsx
  packages/helpers/src/hide.js
  packages/helpers/src/media.js
  packages/labnative/pages/Card.jsx
  packages/system/src/layout.js
  packages/system/src/overflow.js
  packages/system/src/spacing.js
  packages/system/src/theme.js
  packages/system/src/typography.js
  packages/system/src/unit.js
  packages/tokens/src/global/elevations.android.js
  packages/tokens/src/global/elevations.ios.js
  packages/tokens/src/global/elevations.js
  packages/yoga/src/Banner/native/Banner.jsx
  packages/yoga/src/Banner/web/Banner.jsx
  packages/yoga/src/Card/native/GymCard/CheckIn/CheckIn.test.jsx
  packages/yoga/src/Input/web/Field.jsx
  packages/yoga/src/RadioGroup/native/Button/RadioButton.jsx
  packages/yoga/src/RadioGroup/native/Radio/Radio.jsx
  packages/yoga/src/RadioGroup/web/Button/RadioButton.jsx
  packages/yoga/src/RadioGroup/web/Radio/Radio.jsx
  packages/yoga/src/Text/sharedTextStyle.jsx
  packages/yoga/src/Text/textStyle.android.jsx
  packages/yoga/src/Text/textStyle.ios.jsx
  packages/yoga/src/Text/textStyle.web.jsx
  packages/yoga/src/Theme/theme/theme.js
  packages/yoga/src/shared/propTypes/max.js
  packages/yoga/src/shared/propTypes/typeof.js
  yarn.lock
Labels: @gympass/yoga-tokens, @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative, @gympass/yoga-system

#489 Updating lerna to v5 and adding nx configs
  .eslintrc.js
  .github/workflows/npmpublish.yml
  .github/workflows/nx.yml
  babel.config.js
  jest/config/config.js
  lerna.json
  nx.json
  package.json
  packages/common/package.json
  packages/doc/package.json
  packages/helpers/babel.config.js
  packages/helpers/package.json
  packages/labnative/package.json
  packages/system/babel.config.js
  packages/system/package.json
  packages/tokens/package.json
  packages/yoga/package.json
  yarn.lock
Labels: @gympass/yoga-tokens, @gympass/yoga-common, @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative, @gympass/yoga-system

#494 [EUEG-1725] - Update width plan card 🚀
  packages/yoga/src/Card/native/PlanCard/PlanCard.jsx
  packages/yoga/src/Card/native/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Card/web/PlanCard/PlanCard.jsx
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative

#496 🚀 Use default size for PlanCard buttons
  packages/yoga/src/Card/native/PlanCard/Actions.jsx
  packages/yoga/src/Card/web/PlanCard/Actions.jsx
Labels: @gympass/yoga

#497 🐞 Heading components is not being rendered in production mode
  packages/yoga/src/Heading/web/BackButton.jsx
  packages/yoga/src/Heading/web/Heading.jsx
  packages/yoga/src/Heading/web/RightButton.jsx
  packages/yoga/src/Heading/web/Title.jsx
Labels: @gympass/yoga

#500 🐛 fix: add color text and opacity for input web
  packages/yoga/src/AutoComplete/web/__snapshots__/AutoComplete.test.jsx.snap
  packages/yoga/src/Dropdown/web/__snapshots__/Dropdown.test.jsx.snap
  packages/yoga/src/Input/web/Field.jsx
  packages/yoga/src/Input/web/__snapshots__/Email.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Input.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Number.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Password.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Tel.test.jsx.snap
  packages/yoga/src/TextArea/web/__snapshots__/TextArea.test.jsx.snap
Labels: @gympass/yoga

#501 :adhesive_bandage: add -webkit- prop on text fill color on input
  packages/yoga/src/AutoComplete/web/__snapshots__/AutoComplete.test.jsx.snap
  packages/yoga/src/Dropdown/web/__snapshots__/Dropdown.test.jsx.snap
  packages/yoga/src/Input/web/Field.jsx
  packages/yoga/src/Input/web/__snapshots__/Email.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Input.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Number.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Password.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Tel.test.jsx.snap
  packages/yoga/src/TextArea/web/__snapshots__/TextArea.test.jsx.snap
Labels: @gympass/yoga

#473 Feat/dropdown menu
  packages/doc/content/components/components/menu/index.mdx
  packages/yoga/package.json
  packages/yoga/src/Dialog/web/Dialog.jsx
  packages/yoga/src/Menu/Menu.theme.js
  packages/yoga/src/Menu/index.js
  packages/yoga/src/Menu/web/Menu.jsx
  packages/yoga/src/Menu/web/Menu.test.jsx
  packages/yoga/src/Menu/web/MenuAction.jsx
  packages/yoga/src/Menu/web/MenuItem.jsx
  packages/yoga/src/Menu/web/MenuList.jsx
  packages/yoga/src/Menu/web/__snapshots__/Menu.test.jsx.snap
  packages/yoga/src/hooks/index.js
  packages/yoga/src/hooks/useKeyPress.jsx
  packages/yoga/src/index.js
  yarn.lock
Labels: @gympass/yoga-doc, @gympass/yoga
