Repository gympass/yoga, pull requests merged in 2022-08, with the labels that each got.

#528 🚀 Hide the close button from BottomSheet
  packages/doc/content/components/components/bottomsheet/index.mdx
  packages/yoga/src/BottomSheet/web/BottomSheet.jsx
  packages/yoga/src/BottomSheet/web/BottomSheet.test.jsx
  packages/yoga/src/Dialog/web/Dialog.jsx
  packages/yoga/src/Dialog/web/Dialog.test.jsx
Labels: @gympass/yoga-doc, @gympass/yoga

#530 ✨ Add menu placement
  packages/doc/content/components/components/menu/index.mdx
  packages/yoga/src/Menu/web/MenuList.jsx
Labels: enhancement, @gympass/yoga-doc, @gympass/yoga

#527 🚀 Add Skeleton component
  packages/doc/content/components/components/skeleton/index.mdx
  packages/doc/content/components/components/skeleton/skeleton-native.mdx
  packages/doc/content/components/components/skeleton/skeleton-web.mdx
  packages/labnative/pages/Skeleton.jsx
  packages/labnative/pages/index.js
  packages/yoga/src/Skeleton/Skeleton.theme.js
  packages/yoga/src/Skeleton/index.js
  packages/yoga/src/Skeleton/index.native.js
  packages/yoga/src/Skeleton/native/Skeleton.jsx
  packages/yoga/src/Skeleton/native/Skeleton.test.jsx
  packages/yoga/src/Skeleton/native/__snapshots__/Skeleton.test.jsx.snap
  packages/yoga/src/Skeleton/native/index.js
  packages/yoga/src/Skeleton/web/Skeleton.jsx
  packages/yoga/src/Skeleton/web/Skeleton.test.jsx
  packages/yoga/src/Skeleton/web/__snapshots__/Skeleton.test.jsx.snap
  packages/yoga/src/Skeleton/web/index.js
  packages/yoga/src/index.js
  packages/yoga/src/index.native.js
Labels: @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative

#531 🚀 Improve the contrast in the disable button by updating the text color
  packages/yoga/src/Banner/web/__snapshots__/Banner.test.jsx.snap
  packages/yoga/src/Button/Button.theme.js
  packages/yoga/src/Button/native/Text.jsx
  packages/yoga/src/Button/native/__snapshots__/Button.test.jsx.snap
  packages/yoga/src/Button/web/Text.jsx
  packages/yoga/src/Button/web/__snapshots__/Button.test.jsx.snap
Labels: @gympass/yoga

#532 fix(illustration): change version of package
  packages/yoga/package.json
Labels: @gympass/yoga

#537 Feat/calendar component
  jest/setup/web.js
  package.json
  packages/doc/content/components/components/datepicker/index.mdx
  packages/yoga/src/Datepicker/Datepicker.theme.js
  packages/yoga/src/Datepicker/index.js
  packages/yoga/src/Datepicker/web/Calendar.jsx
  packages/yoga/src/Datepicker/web/Datepicker.jsx
  packages/yoga/src/Datepicker/web/Datepicker.test.jsx
  packages/yoga/src/Datepicker/web/__snapshots__/Datepicker.test.jsx.snap
  packages/yoga/src/Datepicker/web/index.js
  packages/yoga/src/index.js
  yarn.lock
Labels: @gympass/yoga-doc, @gympass/yoga

#538 Feat/datepicker component
  jest/setup/web.js
  package.json
  packages/doc/content/components/components/datepicker/index.mdx
  packages/yoga/src/Datepicker/Datepicker.theme.js
  packages/yoga/src/Datepicker/index.js
  packages/yoga/src/Datepicker/web/Calendar.jsx
  packages/yoga/src/Datepicker/web/Datepicker.jsx
  packages/yoga/src/Datepicker/web/Datepicker.test.jsx
  packages/yoga/src/Datepicker/web/__snapshots__/Datepicker.test.jsx.snap
  packages/yoga/src/Datepicker/web/index.js
  packages/yoga/src/index.js
  yarn.lock
Labels: @gympass/yoga-doc, @gympass/yoga

#540 fix(header): add title on gympass logo
  packages/yoga/src/Header/web/GympassLogo.jsx
  packages/yoga/src/Header/web/Header.test.jsx
  packages/yoga/src/Header/web/__snapshots__/Header.test.jsx.snap
Labels: @gympass/yoga

#541 fix(datepicker): correctly a moment on package datepicker
  package.json
  packages/yoga/package.json
Labels: @gympass/yoga

#542 fix: fix a drawer file
  packages/yoga/src/Drawer/web/Content.jsx
Labels: @gympass/yoga

#544 fix(heading): add new prop to remove padding
  packages/doc/content/components/components/heading/index.mdx
  packages/yoga/src/Heading/web/Heading.jsx
  packages/yoga/src/Heading/web/Heading.test.jsx
  packages/yoga/src/Heading/web/StyledHeading.jsx
  packages/yoga/src/Heading/web/__snapshots__/Heading.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga
