Repository gympass/yoga, pull requests merged in 2022-02, with the labels that each got.

#426 Add Header Component
  packages/doc/content/components/components/header/index.mdx
  packages/yoga/src/Header/Header.theme.js
  packages/yoga/src/Header/index.js
  packages/yoga/src/Header/web/Header.jsx
  packages/yoga/src/Header/web/Header.test.jsx
  packages/yoga/src/Header/web/__snapshots__/Header.test.jsx.snap
  packages/yoga/src/Header/web/index.js
  packages/yoga/src/index.js
Labels: @gympass/yoga-doc, @gympass/yoga

#431 fix(header): Fix Gympass logo on header
  packages/yoga/src/Header/static/images/gympass-logo.svg
  packages/yoga/src/Header/web/Header.jsx
Labels: @gympass/yoga

#432 fix(header): fix image path
  packages/yoga/src/Header/web/Header.jsx
Labels: @gympass/yoga

#436 Refactor Header Component
  packages/doc/content/components/components/header/index.mdx
  packages/yoga/src/Header/Header.theme.js
  packages/yoga/src/Header/static/images/gympass-logo.svg
  packages/yoga/src/Header/web/GympassLogo.jsx
  packages/yoga/src/Header/web/Header.jsx
  packages/yoga/src/Header/web/__snapshots__/Header.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga

#440 🎨 Adjust snackbar
  packages/doc/content/components/components/snackbar/index.mdx
  packages/yoga/src/Snackbar/web/Snackbar.jsx
  packages/yoga/src/Snackbar/web/Snackbar.test.jsx
  packages/yoga/src/Snackbar/web/__snapshots__/Snackbar.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga

#442 ✨ Add external-link icon
  packages/icons/src/index.js
  packages/icons/src/svg/external_link.svg
Labels: @gympass/yoga-doc, @gympass/yoga-icons

#439 🐛 Adjust style of progress bar label
  packages/yoga/src/Progress/web/Progress.jsx
  packages/yoga/src/Progress/web/__snapshots__/Progress.test.jsx.snap
Labels: @gympass/yoga
