Repository gympass/yoga, pull requests merged in 2022-05, with the labels that each got.

#466 [CUP-27] - Add createTheme to Native version 🚀
  packages/yoga/src/Theme/index.native.js
  packages/yoga/src/index.native.js
Labels: @gympass/yoga

#468 [DS-364] - Add flag countries 🚀
  packages/icons/src/index.js
  packages/icons/src/svg/flag_argentina.svg
  packages/icons/src/svg/flag_brazil.svg
  packages/icons/src/svg/flag_chile.svg
  packages/icons/src/svg/flag_germany.svg
  packages/icons/src/svg/flag_ireland.svg
  packages/icons/src/svg/flag_italy.svg
  packages/icons/src/svg/flag_mexico.svg
  packages/icons/src/svg/flag_portugal.svg
  packages/icons/src/svg/flag_spain.svg
  packages/icons/src/svg/flag_uk.svg
  packages/icons/src/svg/flag_us.svg
Labels: @gympass/yoga-icons

#463 [DS-362] - Create banner component 🚀
  packages/doc/content/components/components/banner/banner-native.mdx
  packages/doc/content/components/components/banner/banner-web.mdx
  packages/doc/content/components/components/banner/index.mdx
  packages/labnative/pages/Banner.jsx
  packages/labnative/pages/index.js
  packages/yoga/src/Banner/Banner.theme.js
  packages/yoga/src/Banner/index.js
  packages/yoga/src/Banner/index.native.js
  packages/yoga/src/Banner/native/Banner.jsx
  packages/yoga/src/Banner/native/Banner.test.jsx
  packages/yoga/src/Banner/native/__snapshots__/Banner.test.jsx.snap
  packages/yoga/src/Banner/native/index.js
  packages/yoga/src/Banner/web/Banner.jsx
  packages/yoga/src/Banner/web/Banner.test.jsx
  packages/yoga/src/Banner/web/__snapshots__/Banner.test.jsx.snap
  packages/yoga/src/Banner/web/index.js
  packages/yoga/src/index.js
  packages/yoga/src/index.native.js
Labels: @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative

#475 🐛 fix: fieldset disabled state for border-color
  packages/yoga/src/AutoComplete/web/__snapshots__/AutoComplete.test.jsx.snap
  packages/yoga/src/Dropdown/web/__snapshots__/Dropdown.test.jsx.snap
  packages/yoga/src/Input/web/Fieldset.jsx
  packages/yoga/src/Input/web/__snapshots__/Email.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Input.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Number.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Password.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Tel.test.jsx.snap
  packages/yoga/src/TextArea/web/__snapshots__/TextArea.test.jsx.snap
Labels: @gympass/yoga

#476 Creating heading component
  packages/doc/content/components/components/heading/index.mdx
  packages/labnative/pages/Heading.jsx
  packages/labnative/pages/index.js
  packages/yoga/src/Heading/Heading.theme.js
  packages/yoga/src/Heading/index.js
  packages/yoga/src/Heading/web/BackButton.jsx
  packages/yoga/src/Heading/web/Heading.jsx
  packages/yoga/src/Heading/web/Heading.test.jsx
  packages/yoga/src/Heading/web/RightButton.jsx
  packages/yoga/src/Heading/web/StyledHeading.jsx
  packages/yoga/src/Heading/web/Title.jsx
  packages/yoga/src/Heading/web/__snapshots__/Heading.test.jsx.snap
  packages/yoga/src/Heading/web/index.js
  packages/yoga/src/index.js
Labels: @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative

#480 feat(header): add a prop in headers to change the logo to a custom
  packages/doc/content/components/components/header/index.mdx
  packages/yoga/src/Checkbox/web/Checkbox.jsx
  packages/yoga/src/Header/web/Header.jsx
  packages/yoga/src/Header/web/Header.test.jsx
  packages/yoga/src/Header/web/Logo.jsx
Labels: documentation, enhancement, @gympass/yoga-doc, @gympass/yoga
