Repository gympass/yoga, pull requests merged in 2022-11, with the labels that each got.

#574 🚀 Add support for Icon color and size to MenuItem component
  packages/yoga/src/Menu/web/MenuItem.jsx
Labels: @gympass/yoga

#577 feat(PlanCard): add "extra" prop to PlanCard.Content 🚀
  packages/doc/content/components/components/card/plancard-web.mdx
  packages/yoga/src/Card/web/PlanCard/Content.jsx
  packages/yoga/src/Card/web/PlanCard/PlanCard.test.jsx
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga

#579 Revert/ds 503
  .eslintrc.js
  .github/workflows/nx.yml
  babel.config.js
  jest/config/config.js
  lerna.json
  nx.json
  package.json
  packages/common/package.json
  packages/doc/package.json
  packages/labnative/package.json
  packages/system/package.json
  packages/tokens/package.json
  packages/yoga/package.json
  packages/yoga/src/Drawer/web/Content.jsx
  yarn.lock
Labels: @gympass/yoga-tokens, @gympass/yoga-common, @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative, @gympass/yoga-system

#578 🚀 add prop to deal with Menu elevation
  packages/yoga/src/Menu/web/Menu.jsx
  packages/yoga/src/Menu/web/MenuList.jsx
Labels: @gympass/yoga

#580 [EUEG-2362] - Add the restaurant and spa icon 🚀
  packages/icons/src/svg/restaurant.svg
  packages/icons/src/svg/spa.svg
  packages/icons/src/ui.js
Labels: @gympass/yoga-icons

#581 🐞 menu list css bug fix
  packages/yoga/src/Menu/web/MenuList.jsx
Labels: @gympass/yoga
