Repository gympass/yoga, pull requests merged in 2022-07, with the labels that each got.

#505 Update heading height to match figma 🚀
  packages/yoga/src/Heading/Heading.theme.js
  packages/yoga/src/Heading/web/BackButton.jsx
  packages/yoga/src/Heading/web/Heading.jsx
  packages/yoga/src/Heading/web/RightButton.jsx
  packages/yoga/src/Heading/web/StyledHeading.jsx
  packages/yoga/src/Heading/web/__snapshots__/Heading.test.jsx.snap
Labels: @gympass/yoga

#507 [ENG-3901] - Add LockOn icon
  packages/icons/src/index.js
  packages/icons/src/svg/lock_on_filled.svg
Labels: @gympass/yoga-icons

#508 ✨ Add "neutral" variant color for Tag.Informative
  packages/doc/content/components/components/tag/informative-web.mdx
  packages/yoga/src/Tag/web/Informative.jsx
  packages/yoga/src/Theme/theme/theme.js
Labels: enhancement, @gympass/yoga-tokens, @gympass/yoga-doc, @gympass/yoga

#510 🚀 feat(icons): add code icon
  packages/icons/src/index.js
  packages/icons/src/svg/code.svg
Labels: @gympass/yoga-icons

#511 [DS-403] Add 2D Illustrations to Yoga 🚀
  .github/labeler.yml
  packages/doc/content/components/illustrations/illustrations-native.mdx
  packages/doc/content/components/illustrations/illustrations-web.mdx
  packages/doc/content/components/illustrations/index.mdx
  packages/doc/package.json
  packages/doc/src/components/CodeBlock/CodeBlock.jsx
  packages/doc/src/components/CodeBlock/shared/modules/index.js
  packages/doc/src/components/CodeBlock/shared/modules/modules.js
  packages/illustrations/babel.config.js
  packages/illustrations/package.json
  packages/illustrations/src/index.js
  packages/illustrations/src/svg/img2d01.svg
  packages/illustrations/src/svg/img2d02.svg
  packages/illustrations/src/svg/img2d03.svg
  packages/illustrations/src/svg/img2d04.svg
  packages/illustrations/src/svg/img2d05.svg
  packages/illustrations/src/svg/img2d06.svg
  packages/illustrations/src/svg/img2d07.svg
  packages/illustrations/src/svg/img2d08.svg
  packages/illustrations/src/svg/img2d09.svg
  packages/illustrations/src/svg/img2d10.svg
  packages/illustrations/src/svg/img2d11.svg
  packages/illustrations/src/svg/img2d12.svg
Labels: enhancement, @gympass/yoga-doc

#512 [DS-403] Add 2D Illustrations to Yoga 🚀
  packages/doc/content/components/illustrations/illustrations-native.mdx
  packages/doc/content/components/illustrations/illustrations-web.mdx
  packages/illustrations/readme.md
  packages/illustrations/src/index.js
Labels: @gympass/yoga-doc, @gympass/yoga-illustrations

#514 fix(libnative): add illustrations to metro configuration 🐞
  packages/labnative/metro.config.js
Labels: @gympass/yoga-labnative

#515 🐞 Add @gympass/yoga-illustrations to Yoga dependencies.
  packages/yoga/package.json
Labels: bug, @gympass/yoga-illustrations

#520 🚀 Update PlanCard styles
  packages/doc/content/components/components/card/plancard-web.mdx
  packages/yoga/src/Card/Card.native.theme.js
  packages/yoga/src/Card/Card.theme.js
  packages/yoga/src/Card/Card.web.theme.js
  packages/yoga/src/Card/native/PlanCard/Content.jsx
  packages/yoga/src/Card/native/PlanCard/PlanCard.jsx
  packages/yoga/src/Card/native/PlanCard/Tag.jsx
  packages/yoga/src/Card/native/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Card/web/PlanCard/Content.jsx
  packages/yoga/src/Card/web/PlanCard/List.jsx
  packages/yoga/src/Card/web/PlanCard/PlanCard.jsx
  packages/yoga/src/Card/web/PlanCard/Tag.jsx
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga

#521 🚀 Decrease PlanCard height
  packages/yoga/src/Card/web/PlanCard/List.jsx
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
Labels: @gympass/yoga

#518 [#517] Error when trying to import illustration from yoga-illustrations 🐞
  packages/doc/src/components/Documentation/Documentation.jsx
Labels: @gympass/yoga-doc, @gympass/yoga-illustrations

#522 chore: only change import order
  packages/illustrations/readme.md
  packages/illustrations/src/index.js
Labels: @gympass/yoga-illustrations

#524 feat: add try catch
  packages/illustrations/src/index.js
  scripts/prepublish.js
Labels: @gympass/yoga-illustrations

#525 feat: add new log level
  packages/illustrations/src/index.js
  scripts/publish
Labels: @gympass/yoga-illustrations

#526 feat: add log
  packages/illustrations/src/index.js
  scripts/prepublish.js
Labels: @gympass/yoga-illustrations
