Repository gympass/yoga, pull requests merged in 2022-10, with the labels that each got.

#558 ActionRequirement - Fix/adjust position illustration and specs 🐞
  packages/yoga/src/ActionRequirement/web/ActionRequirement.jsx
  packages/yoga/src/ActionRequirement/web/ActionRequirementStyles.js
  packages/yoga/src/ActionRequirement/web/__snapshots__/ActionRequirement.test.jsx.snap
Labels: bug, @gympass/yoga

#559 set width content wrapper
  packages/yoga/src/ActionRequirement/web/ActionRequirement.jsx
  packages/yoga/src/ActionRequirement/web/__snapshots__/ActionRequirement.test.jsx.snap
Labels: @gympass/yoga

#560 ActionRequirement - Fix/reset width content on mobile
  packages/yoga/src/ActionRequirement/web/ActionRequirement.jsx
  packages/yoga/src/ActionRequirement/web/__snapshots__/ActionRequirement.test.jsx.snap
Labels: @gympass/yoga

#561 fix: adjust desktop
  packages/yoga/src/ActionRequirement/web/ActionRequirement.jsx
  packages/yoga/src/ActionRequirement/web/__snapshots__/ActionRequirement.test.jsx.snap
Labels: @gympass/yoga

#564 [ENG-4112] - Add FamilyMemberFilled icon 🚀
  packages/icons/src/svg/family_member_filled.svg
  packages/icons/src/ui.js
Labels: @gympass/yoga-icons

#563 🐞 Fix: Remove empty paragraph if is not needed on ActionRequirement
  packages/yoga/src/ActionRequirement/native/ActionRequirement.jsx
  packages/yoga/src/ActionRequirement/web/ActionRequirement.jsx
  packages/yoga/src/ActionRequirement/web/ActionRequirement.test.jsx
  packages/yoga/src/ActionRequirement/web/__snapshots__/ActionRequirement.test.jsx.snap
Labels: @gympass/yoga

#562 🚀 Add datepicker features
  packages/doc/content/components/components/datepicker/index.mdx
  packages/yoga/src/ActionRequirement/web/__snapshots__/ActionRequirement.test.jsx.snap
  packages/yoga/src/Datepicker/web/Calendar.jsx
  packages/yoga/src/Datepicker/web/Datepicker.jsx
  packages/yoga/src/Datepicker/web/Datepicker.test.jsx
  packages/yoga/src/Datepicker/web/__snapshots__/Datepicker.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga

#567 [ENG-4129] - Add neutral variant at native Tag.informative prop types 🚀
  packages/doc/content/components/components/tag/informative-native.mdx
  packages/yoga/src/Tag/native/Informative.jsx
  packages/yoga/src/Tag/native/Tag.test.jsx
  packages/yoga/src/Tag/native/__snapshots__/Tag.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga

#568 🚀 Datepicker - display UTC dates
  packages/yoga/src/Datepicker/web/Datepicker.jsx
  packages/yoga/src/Datepicker/web/Datepicker.test.jsx
  yarn.lock
Labels: @gympass/yoga

#569 [ENG-4159] - Update Skeleton text variant usage and add yoga system to the component 🚀
  packages/yoga/src/Skeleton/Skeleton.theme.js
  packages/yoga/src/Skeleton/native/Skeleton.jsx
  packages/yoga/src/Skeleton/native/Skeleton.test.jsx
  packages/yoga/src/Skeleton/native/__snapshots__/Skeleton.test.jsx.snap
  packages/yoga/src/Skeleton/web/Skeleton.jsx
  packages/yoga/src/Skeleton/web/Skeleton.test.jsx
  packages/yoga/src/Skeleton/web/__snapshots__/Skeleton.test.jsx.snap
Labels: @gympass/yoga

#570 🚀 Fix Skeleton animation
  packages/yoga/src/Skeleton/native/Skeleton.jsx
  packages/yoga/src/Skeleton/native/__snapshots__/Skeleton.test.jsx.snap
  packages/yoga/src/Skeleton/web/Skeleton.jsx
  packages/yoga/src/Skeleton/web/__snapshots__/Skeleton.test.jsx.snap
Labels: @gympass/yoga

#572 Ds 474 dropdown menu fix
  packages/yoga/package.json
  packages/yoga/src/Menu/web/MenuList.jsx
  packages/yoga/src/Menu/web/__snapshots__/Menu.test.jsx.snap
  yarn.lock
Labels: @gympass/yoga
