Repository gympass/yoga, pull requests merged in 2022-09, with the labels that each got.

#547 🐞 Fix broken tests in CI
  packages/yoga/src/Datepicker/web/Datepicker.test.jsx
  packages/yoga/src/Skeleton/native/Skeleton.test.jsx
  packages/yoga/src/Skeleton/native/__snapshots__/Skeleton.test.jsx.snap
Labels: @gympass/yoga

#548 🐞 Replace Moment by date-fns
  packages/yoga/package.json
  packages/yoga/src/Datepicker/web/Datepicker.jsx
  packages/yoga/src/Datepicker/web/Datepicker.test.jsx
  yarn.lock
Labels: @gympass/yoga

#551 🚀 Add Action Requirement
  packages/doc/content/components/components/actionrequirement/actionrequirement-native.mdx
  packages/doc/content/components/components/actionrequirement/actionrequirement-web.mdx
  packages/doc/content/components/components/actionrequirement/index.mdx
  packages/labnative/pages/ActionRequirement.jsx
  packages/labnative/pages/index.js
  packages/yoga/src/ActionRequirement/ActionRequirement.theme.js
  packages/yoga/src/ActionRequirement/index.js
  packages/yoga/src/ActionRequirement/index.native.js
  packages/yoga/src/ActionRequirement/native/ActionRequirement.jsx
  packages/yoga/src/ActionRequirement/native/ActionRequirement.test.jsx
  packages/yoga/src/ActionRequirement/native/ActionRequirementStyles.js
  packages/yoga/src/ActionRequirement/native/__snapshots__/ActionRequirement.test.jsx.snap
  packages/yoga/src/ActionRequirement/native/index.js
  packages/yoga/src/ActionRequirement/web/ActionRequirement.jsx
  packages/yoga/src/ActionRequirement/web/ActionRequirement.test.jsx
  packages/yoga/src/ActionRequirement/web/ActionRequirementStyles.js
  packages/yoga/src/ActionRequirement/web/__snapshots__/ActionRequirement.test.jsx.snap
  packages/yoga/src/ActionRequirement/web/index.js
  packages/yoga/src/index.js
  packages/yoga/src/index.native.js
Labels: @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative

#555 🐞 Remove safe-area from Illustrations
  packages/illustrations/src/svg/img2d01.svg
  packages/illustrations/src/svg/img2d02.svg
  packages/illustrations/src/svg/img2d03.svg
  packages/illustrations/src/svg/img2d04.svg
  packages/illustrations/src/svg/img2d05.svg
  packages/illustrations/src/svg/img2d06.svg
  packages/illustrations/src/svg/img2d07.svg
  packages/illustrations/src/svg/img2d08.svg
  packages/illustrations/src/svg/img2d09.svg
  packages/illustrations/src/svg/img2d10.svg
  packages/illustrations/src/svg/img2d11.svg
  packages/illustrations/src/svg/img2d12.svg
Labels: @gympass/yoga-illustrations

#552 🚀 Add Popover component
  .gitignore
  packages/doc/content/components/components/popover/index.mdx
  packages/yoga/src/Popover/Popover.theme.js
  packages/yoga/src/Popover/index.js
  packages/yoga/src/Popover/web/Popover.jsx
  packages/yoga/src/Popover/web/Popover.test.jsx
  packages/yoga/src/Popover/web/__snapshots__/Popover.test.jsx.snap
  packages/yoga/src/Popover/web/index.js
  packages/yoga/src/Popover/web/styles.js
  packages/yoga/src/index.js
Labels: @gympass/yoga-doc, @gympass/yoga

#546 🚀 docs(icons): modularize Icons
  packages/doc/content/components/icons/icons-web.mdx
  packages/doc/content/components/icons/index.mdx
  packages/icons/src/flags.js
  packages/icons/src/index.js
  packages/icons/src/ui.js
Labels: @gympass/yoga-doc, @gympass/yoga-icons

#557 refactor(install new lib): adding new library to fix problem on react native 0.70.1 🚀
  packages/labnative/package.json
  packages/yoga/src/Card/native/GymCard/CheckIn/CheckIn.jsx
Labels: @gympass/yoga, @gympass/yoga-labnative
