Repository gympass/yoga, pull requests merged in 2023-07, with the labels that each got.

#663 🚀 Partners Self Sign up new icons
  packages/icons/src/svg/boxing.svg
  packages/icons/src/svg/cycling.svg
  packages/icons/src/svg/dance.svg
  packages/icons/src/svg/hit.svg
  packages/icons/src/svg/martial-arts.svg
  packages/icons/src/svg/pilates.svg
  packages/icons/src/svg/tennis.svg
  packages/icons/src/svg/yoga-mat.svg
  packages/icons/src/svg/zen.svg
  packages/icons/src/ui.js
Labels: @gympass/yoga-icons

#665 feat(Accordion): Add accordion summary component resolves #664
  packages/doc/content/components/components/accordion/index.mdx
  packages/yoga/src/Accordion/web/Accordion.jsx
  packages/yoga/src/Accordion/web/Accordion.test.jsx
  packages/yoga/src/Accordion/web/Content.jsx
  packages/yoga/src/Accordion/web/Summary.jsx
  packages/yoga/src/Accordion/web/index.js
  packages/yoga/src/Banner/web/__snapshots__/Banner.test.jsx.snap
  packages/yoga/src/BottomSheet/web/__snapshots__/BottomSheet.test.jsx.snap
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Dialog/web/__snapshots__/Dialog.test.jsx.snap
  packages/yoga/src/Drawer/web/__snapshots__/Drawer.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga

#668 chore: improve popover accessibility implementation
  packages/yoga/src/Popover/web/Popover.jsx
  packages/yoga/src/Popover/web/__snapshots__/Popover.test.jsx.snap
  packages/yoga/src/Popover/web/styles.js
Labels: @gympass/yoga

#670 🚀 feat(PlanCard): Make ListItem clickable
  packages/yoga/src/Card/web/PlanCard/List.jsx
  packages/yoga/src/Card/web/PlanCard/PlanCard.test.jsx
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
Labels: @gympass/yoga

#669 🚀 feat(tokens|common): add typescript
  jest/config/config.js
  package.json
  packages/common/babel.config.js
  packages/common/package.json
  packages/common/src/elevate.ts
  packages/common/src/hexToRgb.js
  packages/common/src/hexToRgb.ts
  packages/common/src/index.ts
  packages/common/src/merge.ts
  packages/common/tsconfig.json
  packages/tokens/babel.config.js
  packages/tokens/package.json
  packages/tokens/src/global/borders.js
  packages/tokens/src/global/borders.ts
  packages/tokens/src/global/breakpoints.js
  packages/tokens/src/global/breakpoints.ts
  packages/tokens/src/global/colors.ts
  packages/tokens/src/global/elevations.android.js
  packages/tokens/src/global/elevations.android.ts
  packages/tokens/src/global/elevations.ios.js
  packages/tokens/src/global/elevations.ios.ts
  packages/tokens/src/global/elevations.js
  packages/tokens/src/global/elevations.ts
  packages/tokens/src/global/font-sizes.js
  packages/tokens/src/global/font-sizes.ts
  packages/tokens/src/global/font-weights.js
  packages/tokens/src/global/font-weights.ts
  packages/tokens/src/global/fonts.js
  packages/tokens/src/global/fonts.ts
  packages/tokens/src/global/index.ts
  packages/tokens/src/global/line-heights.js
  packages/tokens/src/global/line-heights.ts
  packages/tokens/src/global/radii.js
  packages/tokens/src/global/radii.ts
  packages/tokens/src/global/spacing.js
  packages/tokens/src/global/spacing.ts
  packages/tokens/src/global/transition.js
  packages/tokens/src/global/transition.ts
  packages/tokens/src/index.ts
  packages/tokens/src/locale/zn-cn.ts
  packages/tokens/tsconfig.json
  packages/yoga/src/Theme/index.native.js
  scripts/prepublish.js
  tsconfig.json
  yarn.lock
Labels: @gympass/yoga-tokens, @gympass/yoga-common, @gympass/yoga
