Repository gympass/yoga, pull requests merged in 2023-09, with the labels that each got.

#684 Added isMaxHeight property in the dropdown
  packages/yoga/src/Dropdown/web/Dropdown.jsx
Labels: @gympass/yoga

#685 Feat/icon accessibility
  packages/yoga/src/Avatar/native/__snapshots__/Avatar.test.jsx.snap
  packages/yoga/src/Avatar/web/__snapshots__/Avatar.test.jsx.snap
  packages/yoga/src/Banner/native/__snapshots__/Banner.test.jsx.snap
  packages/yoga/src/Banner/web/__snapshots__/Banner.test.jsx.snap
  packages/yoga/src/Button/native/__snapshots__/Button.test.jsx.snap
  packages/yoga/src/Button/web/__snapshots__/Button.test.jsx.snap
  packages/yoga/src/Card/native/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Dialog/web/__snapshots__/Dialog.test.jsx.snap
  packages/yoga/src/Feedback/web/__snapshots__/Feedback.test.jsx.snap
  packages/yoga/src/Heading/web/__snapshots__/Heading.test.jsx.snap
  packages/yoga/src/Icon/Icon.jsx
  packages/yoga/src/Icon/native/Icon.test.jsx
  packages/yoga/src/Icon/native/__snapshots__/Icon.test.jsx.snap
  packages/yoga/src/Icon/web/Icon.test.jsx
  packages/yoga/src/Icon/web/__snapshots__/Icon.test.jsx.snap
  packages/yoga/src/Menu/web/__snapshots__/Menu.test.jsx.snap
  packages/yoga/src/Result/native/__snapshots__/Result.test.jsx.snap
  packages/yoga/src/Snackbar/native/__snapshots__/Snackbar.test.jsx.snap
  packages/yoga/src/Snackbar/web/__snapshots__/Snackbar.test.jsx.snap
  packages/yoga/src/Tag/native/__snapshots__/Tag.test.jsx.snap
  packages/yoga/src/Tag/web/__snapshots__/Tag.test.jsx.snap
Labels: @gympass/yoga

#688 🐞 fix(checkbox): set the input value
  packages/yoga/src/Checkbox/web/Checkbox.jsx
  packages/yoga/src/Checkbox/web/Checkbox.test.jsx
  packages/yoga/src/Checkbox/web/__snapshots__/Checkbox.test.jsx.snap
Labels: @gympass/yoga

#687 feat: new svg icons
  packages/icons/src/svg/automatic_invite.svg
  packages/icons/src/svg/manual_invite.svg
  packages/icons/src/ui.js
  packages/yoga/src/Icon/Icon.jsx
  packages/yoga/src/Icon/native/__snapshots__/Icon.test.jsx.snap
  packages/yoga/src/Icon/web/__snapshots__/Icon.test.jsx.snap
Labels: @gympass/yoga, @gympass/yoga-icons

#689 feat: add arrow up and arrow down icon
  packages/icons/src/svg/arrow_down.svg
  packages/icons/src/svg/arrow_up.svg
  packages/icons/src/ui.js
Labels: @gympass/yoga-icons

#682 feat: prepend element to Input
  packages/yoga/src/Input/web/Input.jsx
Labels: @gympass/yoga

#693 [ENG-5289] - Add Shine icon 🚀
  packages/icons/src/svg/shine_filled.svg
  packages/icons/src/ui.js
Labels: @gympass/yoga-icons

#694 feat(yoga): add props to PlanCard.ListItem
  packages/doc/content/components/components/card/plancard-web.mdx
  packages/yoga/src/Card/web/PlanCard/List.jsx
  packages/yoga/src/Card/web/PlanCard/List.test.jsx
  packages/yoga/src/Card/web/PlanCard/__snapshots__/List.test.jsx.snap
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga

#695 fix(yoga): fix style from PlanCard.ListItem when it is clickable
  packages/doc/content/components/components/card/plancard-web.mdx
  packages/yoga/src/Card/web/PlanCard/List.jsx
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga
