Repository gympass/yoga, pull requests merged in 2023-03, with the labels that each got.

#624 🚀 feat(accordion): added className to enable edit styles
  packages/yoga/src/Accordion/web/Accordion.test.jsx
  packages/yoga/src/Accordion/web/Content.jsx
  packages/yoga/src/Accordion/web/__snapshots__/Accordion.test.jsx.snap
Labels: @gympass/yoga

#627 🐞 fix(PlanCard): fix glitch with discount decoration
  packages/yoga/src/Card/web/PlanCard/PlanCard.jsx
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
Labels: @gympass/yoga

#629 fix(Dialog) fix stale closure on close actions
  packages/doc/content/components/components/drawer/index.mdx
  packages/yoga/src/BottomSheet/web/__snapshots__/BottomSheet.test.jsx.snap
  packages/yoga/src/Dialog/web/Dialog.jsx
  packages/yoga/src/Dialog/web/__snapshots__/Dialog.test.jsx.snap
  packages/yoga/src/Drawer/web/Drawer.jsx
  packages/yoga/src/Drawer/web/__snapshots__/Drawer.test.jsx.snap
Labels: bug, @gympass/yoga-doc, @gympass/yoga

#628 🚀 (feat): new small accordion
  README.md
  packages/doc/content/components/components/accordion/index.mdx
  packages/yoga/src/Accordion/Accordion.theme.js
  packages/yoga/src/Accordion/web/Accordion.jsx
  packages/yoga/src/Accordion/web/Accordion.test.jsx
  packages/yoga/src/Accordion/web/Small.jsx
  packages/yoga/src/Accordion/web/__snapshots__/Accordion.test.jsx.snap
  packages/yoga/src/Accordion/web/index.js
Labels: enhancement, @gympass/yoga-doc, @gympass/yoga

#633 🚀 feat(typography): add text-transform
  packages/doc/content/system/system/typography.mdx
  packages/system/src/typography.js
  packages/system/src/typography.test.js
Labels: @gympass/yoga-doc, @gympass/yoga-system

#635 ⚙️ refactor(Text): change props size to fontSize
  packages/doc/content/components/components/drawer/index.mdx
  packages/doc/content/components/components/text/default-native.mdx
  packages/doc/content/components/components/text/default-web.mdx
  packages/labnative/pages/Text.jsx
  packages/yoga/src/Accordion/web/__snapshots__/Accordion.test.jsx.snap
  packages/yoga/src/ActionRequirement/native/__snapshots__/ActionRequirement.test.jsx.snap
  packages/yoga/src/ActionRequirement/web/__snapshots__/ActionRequirement.test.jsx.snap
  packages/yoga/src/Avatar/native/__snapshots__/Avatar.test.jsx.snap
  packages/yoga/src/Box/native/__snapshots__/Box.test.jsx.snap
  packages/yoga/src/Card/native/GymCard/CheckIn/__snapshots__/CheckIn.test.jsx.snap
  packages/yoga/src/Card/web/EventCard/__snapshots__/EventCard.test.jsx.snap
  packages/yoga/src/Chips/native/__snapshots__/Chips.test.jsx.snap
  packages/yoga/src/Dropdown/native/__snapshots__/Dropdown.test.jsx.snap
  packages/yoga/src/Feedback/web/__snapshots__/Feedback.test.jsx.snap
  packages/yoga/src/Heading/web/Title.jsx
  packages/yoga/src/Heading/web/__snapshots__/Heading.test.jsx.snap
  packages/yoga/src/Snackbar/native/__snapshots__/Snackbar.test.jsx.snap
  packages/yoga/src/Text/native/Text.jsx
  packages/yoga/src/Text/native/Text.test.jsx
  packages/yoga/src/Text/native/__snapshots__/Text.test.jsx.snap
  packages/yoga/src/Text/sharedTextStyle.jsx
  packages/yoga/src/Text/web/Text.jsx
  packages/yoga/src/Text/web/Text.test.jsx
  packages/yoga/src/Text/web/__snapshots__/Text.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative

#634 🚀 feat(Input): add a11y attributes to Input
  packages/yoga/src/AutoComplete/web/AutoComplete.jsx
  packages/yoga/src/Dropdown/web/Dropdown.jsx
  packages/yoga/src/Dropdown/web/__snapshots__/Dropdown.test.jsx.snap
  packages/yoga/src/Input/web/Helper.jsx
  packages/yoga/src/Input/web/Input.jsx
  packages/yoga/src/Input/web/Input.test.jsx
  packages/yoga/src/Input/web/__snapshots__/Email.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Input.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Number.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Password.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Phone.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Tel.test.jsx.snap
Labels: @gympass/yoga

#623 Fix/datepicker utc inputs
  packages/doc/content/components/components/datepicker/index.mdx
  packages/yoga/src/Datepicker/web/Calendar.jsx
Labels: @gympass/yoga-doc, @gympass/yoga

#630 🐞 Dropdown fix - updating options dynamically
  packages/yoga/src/Dropdown/web/Dropdown.jsx
Labels: @gympass/yoga
