Repository gympass/yoga, pull requests merged in 2023-02, with the labels that each got.

#608 🚀feat(tokens): add typescript in borders components
  packages/common/index.d.ts
  packages/common/package.json
  packages/common/src/elevate.ts
  packages/common/src/merge.ts
  packages/tokens/.babelrc
  packages/tokens/babel.config.js
  packages/tokens/index.d.ts
  packages/tokens/package.json
  packages/tokens/src/global/borders.ts
  packages/tokens/src/global/breakpoints.ts
  packages/tokens/src/global/colors.ts
  packages/tokens/src/global/elevations.android.ts
  packages/tokens/src/global/elevations.ios.ts
  packages/tokens/src/global/elevations.ts
  packages/tokens/src/global/font-sizes.ts
  packages/tokens/src/global/font-weights.ts
  packages/tokens/src/global/fonts.ts
  packages/tokens/src/global/index.ts
  packages/tokens/src/global/line-heights.ts
  packages/tokens/src/global/radii.ts
  packages/tokens/src/global/spacing.ts
  packages/tokens/src/global/transition.ts
  packages/tokens/src/locale/zn-cn.ts
  packages/tokens/src/types/border.ts
  packages/tokens/src/types/elevations.ts
  packages/tokens/src/types/font-sizes.ts
  packages/tokens/src/types/font-weights.ts
  packages/tokens/src/types/fonts.ts
  packages/tokens/src/types/line-heights.ts
  packages/tokens/src/types/radii.ts
  packages/tokens/src/types/spacing.ts
  packages/tokens/tsconfig.json
  packages/yoga/index.d.ts
  yarn.lock
Labels: @gympass/yoga-tokens, @gympass/yoga-common, @gympass/yoga

#618 💣 fix(Icon): update toiletries name
  packages/icons/src/svg/toiletries.svg
  packages/icons/src/ui.js
Labels: @gympass/yoga-icons

#619 Feat/ds 509 configure a project yoga .tsconfig.json
  README.md
  lerna.json
  packages/common/index.d.ts
  packages/common/package.json
  packages/common/src/elevate.ts
  packages/common/src/merge.ts
  packages/doc/gatsby-config.js
  packages/doc/package.json
  packages/tokens/.babelrc
  packages/tokens/babel.config.js
  packages/tokens/index.d.ts
  packages/tokens/package.json
  packages/tokens/src/global/borders.ts
  packages/tokens/src/global/breakpoints.ts
  packages/tokens/src/global/colors.ts
  packages/tokens/src/global/elevations.android.ts
  packages/tokens/src/global/elevations.ios.ts
  packages/tokens/src/global/elevations.ts
  packages/tokens/src/global/font-sizes.ts
  packages/tokens/src/global/font-weights.ts
  packages/tokens/src/global/fonts.ts
  packages/tokens/src/global/index.ts
  packages/tokens/src/global/line-heights.ts
  packages/tokens/src/global/radii.ts
  packages/tokens/src/global/spacing.ts
  packages/tokens/src/global/transition.ts
  packages/tokens/src/locale/zn-cn.ts
  packages/tokens/src/types/border.ts
  packages/tokens/src/types/elevations.ts
  packages/tokens/src/types/font-sizes.ts
  packages/tokens/src/types/font-weights.ts
  packages/tokens/src/types/fonts.ts
  packages/tokens/src/types/line-heights.ts
  packages/tokens/src/types/radii.ts
  packages/tokens/src/types/spacing.ts
  packages/tokens/tsconfig.json
  packages/yoga/.babelrc
  packages/yoga/babel.config.js
  packages/yoga/index.d.ts
  packages/yoga/package.json
  packages/yoga/tsconfig.json
  yarn.lock
Labels: @gympass/yoga-tokens, @gympass/yoga-common, @gympass/yoga-doc, @gympass/yoga

#622 🚀 feat(PlanCard): add discount and badgeColor props
  packages/doc/content/components/components/card/plancard-web.mdx
  packages/yoga/src/Card/web/PlanCard/Content.jsx
  packages/yoga/src/Card/web/PlanCard/PlanCard.jsx
  packages/yoga/src/Card/web/PlanCard/PlanCard.test.jsx
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga
