Repository gympass/yoga, pull requests merged in 2023-10, with the labels that each got.

#699 feat(common): just a test
  packages/common/src/dummy.ts
  packages/common/src/index.ts
Labels: @gympass/yoga-common

#700 🚀 feat(icons): add yoga-mat and zen icons export
  packages/icons/src/ui.js
Labels: @gympass/yoga-icons

#701 Remove prop ariaLabel
  packages/yoga/src/Button/web/Button.jsx
  packages/yoga/src/Button/web/Icon.jsx
Labels: @gympass/yoga

#703 feat: add border in avatar 🚀
  packages/yoga/src/Avatar/native/Avatar.jsx
  packages/yoga/src/Avatar/native/__snapshots__/Avatar.test.jsx.snap
  packages/yoga/src/Result/native/__snapshots__/Result.test.jsx.snap
Labels: @gympass/yoga
