Repository gympass/yoga, pull requests merged in 2023-11, with the labels that each got.

#709 🐞 fix(avatar-native): add propTypes and defaultProps to avatar native
  packages/yoga/src/Avatar/native/Avatar.jsx
Labels: @gympass/yoga

#702 Feature: Spinner Component
  packages/doc/content/components/components/spinner/index.mdx
  packages/yoga/src/Spinner/Spinner.theme.js
  packages/yoga/src/Spinner/index.js
  packages/yoga/src/Spinner/web/Spinner.jsx
  packages/yoga/src/Spinner/web/Spinner.test.jsx
  packages/yoga/src/Spinner/web/__snapshots__/Spinner.test.jsx.snap
  packages/yoga/src/Spinner/web/index.js
  packages/yoga/src/index.js
Labels: @gympass/yoga-doc, @gympass/yoga

#705 🚀 feat(button): add prop loading
  packages/doc/content/components/components/button/default-web.mdx
  packages/doc/content/components/components/button/icon-web.mdx
  packages/doc/content/components/components/button/outline.mdx
  packages/yoga/src/Button/web/Button.jsx
  packages/yoga/src/Button/web/Button.test.jsx
  packages/yoga/src/Button/web/Icon.jsx
  packages/yoga/src/Button/web/Link.jsx
  packages/yoga/src/Button/web/Outline.jsx
  packages/yoga/src/Button/web/StyledButton.jsx
  packages/yoga/src/Button/web/Text.jsx
  packages/yoga/src/Button/web/__snapshots__/Button.test.jsx.snap
  packages/yoga/src/Dialog/web/__snapshots__/Dialog.test.jsx.snap
  packages/yoga/src/Heading/web/__snapshots__/Heading.test.jsx.snap
  packages/yoga/src/Menu/web/__snapshots__/Menu.test.jsx.snap
  packages/yoga/src/Spinner/web/Spinner.jsx
  packages/yoga/src/Spinner/web/__snapshots__/Spinner.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga

#711 fix: border in avatar 🚀
  packages/yoga/src/Avatar/native/Avatar.jsx
  packages/yoga/src/Avatar/native/__snapshots__/Avatar.test.jsx.snap
  packages/yoga/src/Result/native/__snapshots__/Result.test.jsx.snap
Labels: @gympass/yoga

#690 🚀 feat(yoga): add config to add typescript environment (web)
  jest/config/native.js
  jest/config/web.js
  package.json
  packages/doc/package.json
  packages/labnative/customTransformer.js
  packages/labnative/package.json
  packages/yoga/babel.config.js
  packages/yoga/package.json
  packages/yoga/src/Accordion/web/Accordion.jsx
  packages/yoga/src/Accordion/web/Accordion.test.jsx
  packages/yoga/src/ActionRequirement/native/ActionRequirement.test.jsx
  packages/yoga/src/ActionRequirement/web/ActionRequirement.test.jsx
  packages/yoga/src/Datepicker/web/Calendar.jsx
  packages/yoga/src/Datepicker/web/Datepicker.jsx
  packages/yoga/src/Popover/web/Popover.jsx
  packages/yoga/src/index.ts
  packages/yoga/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative

#713 🐞fix(build): build index.ts and index.native.js
  packages/yoga/package.json
Labels: @gympass/yoga
