Repository gympass/yoga, pull requests merged in 2023-01, with the labels that each got.

#589 🚀 Feat/add expanded props to accordion
  packages/doc/content/components/components/accordion/index.mdx
  packages/yoga/src/Accordion/web/Accordion.jsx
Labels: @gympass/yoga-doc, @gympass/yoga

#596 fix(dropdown): fix dropdown button click
  packages/yoga/src/Dropdown/Dropdown.theme.js
  packages/yoga/src/Dropdown/web/Dropdown.jsx
  packages/yoga/src/Dropdown/web/__snapshots__/Dropdown.test.jsx.snap
Labels: @gympass/yoga

#592 🐞 fix(chips): Activities pills text being cut
  packages/yoga/src/Chips/native/Chips.jsx
  packages/yoga/src/Chips/native/__snapshots__/Chips.test.jsx.snap
Labels: @gympass/yoga

#591 🐞 fix(text): adjust prop size (deprecated) to fontSize
  packages/yoga/src/Text/native/Text.jsx
  packages/yoga/src/Text/web/Text.jsx
Labels: @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative

#598 🐞 Fix labnative error on init
  packages/labnative/babel.config.js
Labels: @gympass/yoga-labnative

#601 feat(components): Add test id in components
  packages/yoga/src/Accordion/web/Accordion.jsx
  packages/yoga/src/Checkbox/web/Checkbox.jsx
  packages/yoga/src/Datepicker/web/Datepicker.jsx
  packages/yoga/src/Dialog/web/Dialog.jsx
  packages/yoga/src/Divider/web/Divider.jsx
  packages/yoga/src/Feedback/web/Feedback.jsx
  packages/yoga/src/Header/web/Header.jsx
  packages/yoga/src/Heading/web/Heading.jsx
  packages/yoga/src/Snackbar/web/Snackbar.jsx
  packages/yoga/src/Text/web/Text.jsx
Labels: @gympass/yoga

#605 fix(feedback): fix feedback mobile position and update documentation
  packages/doc/content/components/components/feedback/index.mdx
  packages/yoga/src/Feedback/web/StyledFeedback.jsx
Labels: @gympass/yoga-doc, @gympass/yoga

#603 feat(components) add Input.Phone component 🚀
  jest/config/web.js
  packages/doc/content/components/components/input/phone-web.mdx
  packages/doc/content/components/components/input/phone.mdx
  packages/yoga/package.json
  packages/yoga/src/Input/index.js
  packages/yoga/src/Input/web/Input.jsx
  packages/yoga/src/Input/web/Phone.jsx
  packages/yoga/src/Input/web/Phone.style.js
  packages/yoga/src/Input/web/Phone.test.jsx
  packages/yoga/src/Input/web/__snapshots__/Phone.test.jsx.snap
  packages/yoga/src/Input/web/data-images.js
  packages/yoga/src/Input/web/index.js
  packages/yoga/src/hooks/index.js
  packages/yoga/src/hooks/useCombinedRefs.js
  yarn.lock
Labels: @gympass/yoga-doc, @gympass/yoga

#607 🚀 style(dialog): increase dialog zIndex
  packages/yoga/src/Dialog/web/Dialog.jsx
  packages/yoga/src/Drawer/web/Drawer.jsx
Labels: @gympass/yoga

#610 🚀 feat(components): add center props to feedback component
  packages/doc/content/components/components/feedback/index.mdx
  packages/yoga/src/Feedback/web/Feedback.jsx
  packages/yoga/src/Feedback/web/Feedback.test.jsx
  packages/yoga/src/Feedback/web/__snapshots__/Feedback.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga

#613 fix(components) 🚀 add css in js transform
  packages/yoga/babel.config.js
  packages/yoga/package.json
  packages/yoga/src/Input/web/Phone.style.js
  yarn.lock
Labels: @gympass/yoga

#615 Revert "fix(components) 🚀 add css in js transform"
  packages/yoga/babel.config.js
  packages/yoga/package.json
  packages/yoga/src/Input/web/Phone.style.js
  yarn.lock
Labels: @gympass/yoga

#612 🚀 feat(icons): new icons for partners use on new amenities page
  packages/icons/src/svg/air-conditioning.svg
  packages/icons/src/svg/bank.svg
  packages/icons/src/svg/beauty-salon.svg
  packages/icons/src/svg/children-area.svg
  packages/icons/src/svg/coffee-shop.svg
  packages/icons/src/svg/heater.svg
  packages/icons/src/svg/lockers.svg
  packages/icons/src/svg/nutritionist.svg
  packages/icons/src/svg/parking-lot.svg
  packages/icons/src/svg/pool.svg
  packages/icons/src/svg/shower-towels.svg
  packages/icons/src/svg/shower.svg
  packages/icons/src/svg/snack-bar.svg
  packages/icons/src/svg/sports-equipment-store.svg
  packages/icons/src/svg/tolietries.svg
  packages/icons/src/svg/training-towels.svg
  packages/icons/src/svg/wi-fi.svg
  packages/icons/src/ui.js
Labels: @gympass/yoga-icons

#616 fix(Phone):🐞 remove css import and integrate base styles
  packages/yoga/src/Input/web/Phone.style.js
  packages/yoga/src/Input/web/__snapshots__/Phone.test.jsx.snap
Labels: @gympass/yoga
