Repository gympass/yoga, pull requests merged in 2024-05, with the labels that each got.

#791 [DS-819] Add TS to icons package
  .eslintignore
  package.json
  packages/icons/babel.config.js
  packages/icons/package.json
  packages/icons/src/flags.ts
  packages/icons/src/index.ts
  packages/icons/src/ui.ts
  packages/icons/svg.d.ts
  packages/icons/tsconfig.json
  packages/icons/tsup.config.ts
  plugins/svgr-plugin.js
  scripts/generate-d-ts.js
  tsconfig.json
  yarn.lock
Labels: @gympass/yoga-icons

#794 feat: add TS to Illustrations package
  .eslintignore
  packages/illustrations/babel.config.js
  packages/illustrations/package.json
  packages/illustrations/src/index.ts
  packages/illustrations/svg.d.ts
  packages/illustrations/tsconfig.json
  packages/illustrations/tsup.config.ts
  tsconfig.json
Labels: @gympass/yoga-illustrations

#797 [DS-834] - Border typing
  packages/system/src/border/border.test.js
  packages/system/src/border/index.js
  packages/system/src/border/types.ts
Labels: @gympass/yoga-system

#799 Revert "[DS-834] - Border typing"
  packages/system/src/border.js
  packages/system/src/border.test.js
  packages/system/src/border/types.ts
Labels: @gympass/yoga-system

#803 🐞 fix: fix <div> nested in a <p> tag causing error on hydratation
  packages/yoga/src/ActionRequirement/web/ActionRequirement.jsx
  packages/yoga/src/ActionRequirement/web/__snapshots__/ActionRequirement.test.jsx.snap
  yarn.lock
Labels: @gympass/yoga

#804 fix: fix Illustrations release
  packages/illustrations/src/svg/img2d13.svg
Labels: @gympass/yoga-illustrations

#805 Fix illustrations release
  packages/illustrations/README.md
  scripts/prepublish.js
Labels: @gympass/yoga-illustrations

#806 feat: remove duplicate image
  packages/illustrations/src/svg/img2d13.svg
Labels: @gympass/yoga-illustrations

#812 🚀feat(icons): add new country flag
  packages/icons/src/flags.ts
  packages/icons/src/svg/flag_unitedarabemirates.svg
Labels: @gympass/yoga-icons

#813 ci: debug illustrations package
  packages/illustrations/src/index.ts
  scripts/prepublish.js
Labels: @gympass/yoga-illustrations

#807 [DS-846] - Create border types
  packages/system/src/border/border.test.js
  packages/system/src/border/index.ts
  packages/system/src/border/types.ts
  packages/tokens/src/index.ts
Labels: @gympass/yoga-tokens, @gympass/yoga-system

#811 feat: [EXUX-900] Add exclusive badge on Result component
  packages/icons/src/svg/icon_wellhub.svg
  packages/icons/src/ui.ts
  packages/yoga/src/Result/index.native.js
  packages/yoga/src/Result/native/Badge.jsx
  packages/yoga/src/Result/native/Result/__snapshots__/index.test.jsx.snap
  packages/yoga/src/Result/native/Result/index.jsx
  packages/yoga/src/Result/native/Result/index.test.jsx
  packages/yoga/src/Result/native/Result/styles.jsx
Labels: @gympass/yoga, @gympass/yoga-icons

#819 feat: [EXUX-888] Include new Badge component
  packages/icons/src/svg/icon_wellhub.svg
  packages/icons/src/ui.ts
  packages/yoga/src/Result/index.native.js
  packages/yoga/src/Result/native/Badge.jsx
  packages/yoga/src/Result/native/Result/__snapshots__/index.test.jsx.snap
  packages/yoga/src/Result/native/Result/index.jsx
  packages/yoga/src/Result/native/Result/index.test.jsx
  packages/yoga/src/Result/native/Result/styles.jsx
Labels: @gympass/yoga, @gympass/yoga-icons

#808 [DS-836] - Elevation typing
  packages/system/src/elevation/elevation.android.ts
  packages/system/src/elevation/elevation.test.js
  packages/system/src/elevation/elevation.ts
  packages/system/src/elevation/index.ts
  packages/system/src/elevation/types.ts
Labels: @gympass/yoga-tokens, @gympass/yoga-system

#814 [DS-838] - Font-Weight typing
  packages/system/src/font-weight/fontWeight.android.ts
  packages/system/src/font-weight/fontWeight.ts
  packages/system/src/font-weight/index.ts
  packages/system/src/font-weight/types.ts
  packages/system/src/typography.js
  packages/system/src/typography.test.js
Labels: @gympass/yoga-tokens, @gympass/yoga-system

#810 🚀 feat(system): add types to layout
  packages/system/src/layout/index.ts
  packages/system/src/layout/layout.test.js
  packages/system/src/layout/layout.ts
  packages/system/src/layout/types.ts
Labels: @gympass/yoga-tokens, @gympass/yoga-system

#815 🚀 feat(system): add types to overflow
  packages/system/src/overflow/index.ts
  packages/system/src/overflow/overflow.test.js
  packages/system/src/overflow/overflow.ts
  packages/system/src/overflow/types.ts
Labels: @gympass/yoga-system

#800 [DS-835] Add colors typing
  packages/system/src/color/color.js
  packages/system/src/color/color.test.js
  packages/system/src/color/index.ts
  packages/system/src/color/types.ts
Labels: @gympass/yoga-tokens, @gympass/yoga-system

#802 [DS-837] Add flex typing
  packages/system/src/flex/flex.js
  packages/system/src/flex/flex.test.js
  packages/system/src/flex/index.ts
  packages/system/src/flex/types.ts
Labels: @gympass/yoga-system

#822 fix: [EXUX-912] Add extra margin to result title and badge container
  packages/yoga/src/Result/native/Result/__snapshots__/index.test.jsx.snap
  packages/yoga/src/Result/native/Result/index.jsx
  packages/yoga/src/Result/native/Result/styles.jsx
Labels: @gympass/yoga

#817 🚀 feat(system): add types to unit file
  packages/system/src/unit.js
  packages/system/src/unit.test.ts
  packages/system/src/unit.ts
Labels: @gympass/yoga-system
