Repository gympass/yoga, pull requests merged in 2024-07, with the labels that each got.

#836 feat: add new icons
  packages/icons/src/svg/funnel_filter.svg
  packages/icons/src/svg/pause_filled.svg
  packages/icons/src/svg/play_arrow.svg
  packages/icons/src/ui.ts
Labels: @gympass/yoga-icons

#839 feat: new icons and some fixes for mobile
  packages/icons/src/svg/diagram.svg
  packages/icons/src/svg/microphone.svg
  packages/icons/src/svg/pause_filled.svg
  packages/icons/src/svg/play_arrow.svg
  packages/icons/src/ui.ts
Labels: @gympass/yoga-icons

#838 🚀 feat(yoga): add types to theme
  packages/common/src/merge.ts
  packages/yoga/src/Theme/index.ts
  packages/yoga/src/Theme/theme/index.js
  packages/yoga/src/Theme/theme/index.ts
  packages/yoga/src/Theme/theme/theme.ts
  packages/yoga/src/index.ts
Labels: @gympass/yoga-common, @gympass/yoga

#830 🚀 tests(system): change test files with js extension to ts
  packages/system/src/border/border.test.ts
  packages/system/src/border/border.ts
  packages/system/src/color/color.test.ts
  packages/system/src/color/color.ts
  packages/system/src/elevation/elevation.android.ts
  packages/system/src/elevation/elevation.test.ts
  packages/system/src/elevation/elevation.ts
  packages/system/src/flex/flex.test.ts
  packages/system/src/flex/flex.ts
  packages/system/src/flex/types.ts
  packages/system/src/font-weight/fontWeight.android.ts
  packages/system/src/font-weight/fontWeight.test.ts
  packages/system/src/font-weight/fontWeight.ts
  packages/system/src/layout/layout.test.ts
  packages/system/src/layout/layout.ts
  packages/system/src/overflow/overflow.test.ts
  packages/system/src/overflow/overflow.ts
  packages/system/src/spacing/spacing.test.ts
  packages/system/src/spacing/spacing.ts
  packages/system/src/types.ts
  packages/system/src/typography/typography.test.ts
  packages/system/src/typography/typography.ts
  packages/tokens/src/global/elevations.android.ts
  packages/tokens/src/global/index.ts
Labels: @gympass/yoga-tokens, @gympass/yoga-system

#841 🚀 refactor(common): remove dummy.ts file
  packages/common/src/dummy.ts
  packages/common/src/index.ts
Labels: @gympass/yoga-common
