Repository gympass/yoga, pull requests merged in 2024-04, with the labels that each got.

#784 🐞 [ENG-5779] - Fix to remove android shadow on EventCard
  packages/yoga/src/Card/native/Card/Card.jsx
  packages/yoga/src/Card/native/Card/__snapshots__/Card.test.jsx.snap
  packages/yoga/src/Card/native/EventCard/__snapshots__/EventCard.test.jsx.snap
  packages/yoga/src/Card/native/GymCard/CheckIn/__snapshots__/CheckIn.test.jsx.snap
Labels: @gympass/yoga

#783 🐞 Fix some icons not applying provided color via `fill` prop
  packages/icons/src/svg/arrow_down.svg
  packages/icons/src/svg/arrow_up.svg
  packages/icons/src/svg/boxing.svg
  packages/icons/src/svg/cycling.svg
  packages/icons/src/svg/dance.svg
  packages/icons/src/svg/hit.svg
  packages/icons/src/svg/martial-arts.svg
  packages/icons/src/svg/pilates.svg
  packages/icons/src/svg/tennis.svg
  packages/icons/src/svg/yoga-mat.svg
  packages/icons/src/svg/zen.svg
  packages/icons/src/ui.js
Labels: @gympass/yoga-icons

#787 🚀 feat(icons): added new icons for amenities
  packages/icons/src/svg/accessible_parking_space.svg
  packages/icons/src/svg/accessible_restroom.svg
  packages/icons/src/svg/accessible_shower.svg
  packages/icons/src/svg/autism_friendly.svg
  packages/icons/src/svg/braille_signs.svg
  packages/icons/src/svg/elevator.svg
  packages/icons/src/svg/gender_neutral.svg
  packages/icons/src/svg/service_dogs.svg
  packages/icons/src/svg/sign_language.svg
  packages/icons/src/svg/stair_free_access.svg
  packages/icons/src/svg/tactile_paving.svg
  packages/icons/src/svg/wheelchair_friendly_doors.svg
  packages/icons/src/ui.js
Labels: @gympass/yoga-icons

#789 🐞refactor(NavigationMenu): Adjust Text
  packages/yoga/src/NavigationMenu/web/Item/styles.ts
  packages/yoga/src/NavigationMenu/web/Menu/Menu.tsx
  packages/yoga/src/NavigationMenu/web/Switcher/Switcher.tsx
  packages/yoga/src/NavigationMenu/web/__snapshots__/NavigationMenu.test.tsx.snap
Labels: @gympass/yoga

#782 🚀 feat(system): add typescript environment
  packages/system/babel.config.js
  packages/system/package.json
  packages/system/src/index.ts
Labels: @gympass/yoga-system

#790 [DS-826] - Fix Divider not showing in Safari 🐞
  packages/yoga/src/Accordion/web/__snapshots__/Accordion.test.jsx.snap
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Divider/web/Divider.jsx
  packages/yoga/src/Divider/web/__snapshots__/Divider.test.jsx.snap
Labels: @gympass/yoga

#792 🐞 fix(build): adjust Text props used in the Switcher component
  packages/yoga/src/NavigationMenu/web/Switcher/Switcher.tsx
  packages/yoga/src/NavigationMenu/web/__snapshots__/NavigationMenu.test.tsx.snap
Labels: @gympass/yoga

#793 🐞 fix(NavigationMenu): changed item tag font color
  packages/yoga/src/NavigationMenu/web/Item/styles.ts
  packages/yoga/src/NavigationMenu/web/__snapshots__/NavigationMenu.test.tsx.snap
Labels: @gympass/yoga
