Repository gympass/yoga, pull requests merged in 2024-01, with the labels that each got.

#715 fix(navigation-menu): remove div inside p
  packages/doc/content/components/components/navigationmenu/props.ts
  packages/yoga/src/NavigationMenu/web/Menu/Menu.tsx
  packages/yoga/src/NavigationMenu/web/Switcher/Switcher.tsx
Labels: @gympass/yoga-doc, @gympass/yoga

#717 fix(navigation-menu): remove not used import
  packages/yoga/src/NavigationMenu/web/Menu/Menu.tsx
Labels: @gympass/yoga

#718 fix: border in avatar 🚀
  packages/yoga/src/Avatar/native/Avatar.jsx
  packages/yoga/src/Avatar/native/__snapshots__/Avatar.test.jsx.snap
  packages/yoga/src/Result/native/__snapshots__/Result.test.jsx.snap
Labels: @gympass/yoga

#725 🚀 Feat: change button component
  packages/doc/content/components/components/button/default-web.mdx
  packages/doc/content/components/components/button/link-web.mdx
  packages/doc/content/components/components/button/text-web.mdx
  packages/labnative/pages/Button.jsx
  packages/yoga/src/Banner/native/__snapshots__/Banner.test.jsx.snap
  packages/yoga/src/Banner/web/__snapshots__/Banner.test.jsx.snap
  packages/yoga/src/Button/native/Link.jsx
  packages/yoga/src/Button/native/Text.jsx
  packages/yoga/src/Button/native/__snapshots__/Button.test.jsx.snap
  packages/yoga/src/Button/web/Link.jsx
  packages/yoga/src/Button/web/Text.jsx
  packages/yoga/src/Button/web/__snapshots__/Button.test.jsx.snap
  packages/yoga/src/Result/native/__snapshots__/Result.test.jsx.snap
  packages/yoga/src/Snackbar/native/__snapshots__/Snackbar.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative

#722 feat: updates Feedback components icons and adds new state for 'delayed'
  packages/doc/content/components/components/feedback/index.mdx
  packages/icons/src/svg/attention.svg
  packages/icons/src/svg/delayed.svg
  packages/icons/src/svg/information.svg
  packages/icons/src/svg/success.svg
  packages/icons/src/ui.js
  packages/yoga/src/Feedback/web/Feedback.jsx
  packages/yoga/src/Feedback/web/Feedback.test.jsx
  packages/yoga/src/Feedback/web/__snapshots__/Feedback.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-icons

#721 🚀 refactor(chips): change chips colors and border tokens
  packages/yoga/src/Chips/native/Chips.jsx
  packages/yoga/src/Chips/native/Counter.jsx
  packages/yoga/src/Chips/native/__snapshots__/Chips.test.jsx.snap
  packages/yoga/src/Chips/web/Chips.jsx
  packages/yoga/src/Chips/web/Counter.jsx
  packages/yoga/src/Chips/web/__snapshots__/Chips.test.jsx.snap
Labels: @gympass/yoga

#723 🚀 feat: create new theme
  .eslintrc.js
  packages/doc/gatsby-config.js
  packages/doc/src/components/CodeBlock/ReactLive/ReactLive.jsx
  packages/labnative/android/app/src/main/assets/fonts/Inter-300.ttf
  packages/labnative/android/app/src/main/assets/fonts/Inter-500.ttf
  packages/labnative/android/app/src/main/assets/fonts/Inter-700.ttf
  packages/labnative/android/app/src/main/assets/fonts/Inter-800.ttf
  packages/labnative/android/app/src/main/assets/fonts/Inter-900.ttf
  packages/labnative/android/app/src/main/assets/fonts/Inter.ttf
  packages/labnative/android/link-assets-manifest.json
  packages/labnative/ios/labnative.xcodeproj/project.pbxproj
  packages/labnative/ios/labnative/Info.plist
  packages/labnative/ios/link-assets-manifest.json
  packages/tokens/src/global/colors.ts
  packages/tokens/src/global/font-weights.ts
  packages/tokens/src/global/fonts.ts
  packages/yoga/src/Fonts/Inter-300.ttf
  packages/yoga/src/Fonts/Inter-500.ttf
  packages/yoga/src/Fonts/Inter-700.ttf
  packages/yoga/src/Fonts/Inter-800.ttf
  packages/yoga/src/Fonts/Inter-900.ttf
  packages/yoga/src/Fonts/Inter.ttf
  packages/yoga/src/Theme/Provider/web/FontLoader.jsx
  packages/yoga/src/Theme/Provider/web/FontLoader.test.jsx
  packages/yoga/src/Theme/helpers/themeGenerator/themeGenerator.ts
  packages/yoga/src/Theme/index.js
  packages/yoga/src/Theme/index.native.js
  packages/yoga/src/Theme/theme/index.js
  packages/yoga/src/Theme/theme/v3theme.ts
  packages/yoga/src/index.native.js
  packages/yoga/src/index.ts
Labels: @gympass/yoga-tokens, @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative

#724 🐞 fix: don't change the array type when merging
  packages/common/src/merge.ts
Labels: @gympass/yoga-common
