Repository gympass/yoga, pull requests merged in 2024-12, with the labels that each got.

#852 🚀 Add waze icon to yoga-icons
  packages/icons/src/svg/waze.svg
  packages/icons/src/ui.ts
Labels: @gympass/yoga-icons

#853 Feat/adjusts accessibility of input component
  packages/yoga/src/Input/web/Helper.jsx
  packages/yoga/src/Input/web/Input.jsx
  packages/yoga/src/Input/web/Password.jsx
  packages/yoga/src/Input/web/__snapshots__/Input.test.jsx.snap
Labels: @gympass/yoga

#854 🚀 Feat: adjust heading level
  packages/yoga/src/Feedback/web/StyledFeedback.jsx
  packages/yoga/src/Feedback/web/__snapshots__/Feedback.test.jsx.snap
Labels: @gympass/yoga, accessibility

#856 🚀 feat: add arial label to input component
  packages/yoga/src/AutoComplete/web/__snapshots__/AutoComplete.test.jsx.snap
  packages/yoga/src/Dropdown/web/__snapshots__/Dropdown.test.jsx.snap
  packages/yoga/src/Input/web/Input.jsx
  packages/yoga/src/Input/web/Input.test.jsx
  packages/yoga/src/Input/web/__snapshots__/Email.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Input.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Number.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Password.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Phone.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Tel.test.jsx.snap
Labels: @gympass/yoga, accessibility
