Repository gympass/yoga, pull requests merged in 2024-11, with the labels that each got.

#847 feat(yoga-icons): added TrendingNoChange icon
  packages/icons/src/svg/trending_no_change.svg
  packages/icons/src/ui.ts
Labels: @gympass/yoga-icons

#850 RTN-1557: Update Feedback component to receive Caption as a new child component
  packages/doc/content/components/components/feedback/index.mdx
  packages/yoga/src/Feedback/web/Feedback.jsx
  packages/yoga/src/Feedback/web/Feedback.test.jsx
  packages/yoga/src/Feedback/web/StyledFeedback.jsx
  packages/yoga/src/Feedback/web/index.js
Labels: @gympass/yoga-doc, @gympass/yoga

#851 feat(ActionRequirement): improve accessibility
  packages/yoga/src/ActionRequirement/web/ActionRequirement.jsx
  packages/yoga/src/ActionRequirement/web/ActionRequirementStyles.js
  packages/yoga/src/ActionRequirement/web/__snapshots__/ActionRequirement.test.jsx.snap
Labels: @gympass/yoga
