Repository gympass/yoga, pull requests merged in 2024-02, with the labels that each got.

#732 fix: update `neutralNew` value
  packages/tokens/src/global/colors.ts
Labels: @gympass/yoga-tokens

#731 🐞 fix(RTN-845): updates spacing on feedback action buttons
  packages/yoga/src/Feedback/web/StyledFeedback.jsx
  packages/yoga/src/Feedback/web/__snapshots__/Feedback.test.jsx.snap
Labels: @gympass/yoga

#733 🚀[RTN-858] - feat(Heading): New heading component style
  packages/doc/content/components/components/heading/index.mdx
  packages/yoga/src/Heading/Heading.theme.js
  packages/yoga/src/Heading/web/BackButton.jsx
  packages/yoga/src/Heading/web/RightButton.jsx
  packages/yoga/src/Heading/web/StyledHeading.jsx
  packages/yoga/src/Heading/web/__snapshots__/Heading.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga

#736 🐞[RTN-858] - Fix min-height on Heading component
  packages/yoga/src/Heading/web/StyledHeading.jsx
  packages/yoga/src/Heading/web/__snapshots__/Heading.test.jsx.snap
Labels: @gympass/yoga

#734 🐞 styles: adjust chips styles
  packages/yoga/src/Chips/native/Chips.jsx
  packages/yoga/src/Chips/native/__snapshots__/Chips.test.jsx.snap
  packages/yoga/src/Chips/web/Chips.jsx
  packages/yoga/src/Chips/web/__snapshots__/Chips.test.jsx.snap
  yarn.lock
Labels: @gympass/yoga

#735 🚀 [EUEG-3147] - feat(Dialog): update close button style
  packages/yoga/src/Dialog/web/Dialog.jsx
  packages/yoga/src/Dialog/web/__snapshots__/Dialog.test.jsx.snap
Labels: @gympass/yoga

#739 🚀 [EUEG-3156] - feat(PlanCard): allow usage of colors not included in theme
  packages/yoga/src/Card/web/PlanCard/Content.jsx
  packages/yoga/src/Card/web/PlanCard/PlanCard.jsx
Labels: @gympass/yoga

#741 🚀 [EUEG-3163] - feat(Button): change disabled text color
  packages/yoga/src/Button/Button.theme.js
  packages/yoga/src/Button/native/__snapshots__/Button.test.jsx.snap
  packages/yoga/src/Button/web/__snapshots__/Button.test.jsx.snap
Labels: @gympass/yoga

#740 feat: create new text components
  packages/doc/content/components/components/text/default-web.mdx
  packages/doc/content/components/components/text/index.mdx
  packages/labnative/pages/Text.jsx
  packages/tokens/src/global/font-sizes.ts
  packages/tokens/src/global/line-heights.ts
  packages/yoga/src/Accordion/web/__snapshots__/Accordion.test.jsx.snap
  packages/yoga/src/ActionRequirement/web/__snapshots__/ActionRequirement.test.jsx.snap
  packages/yoga/src/Banner/web/__snapshots__/Banner.test.jsx.snap
  packages/yoga/src/Card/web/EventCard/__snapshots__/EventCard.test.jsx.snap
  packages/yoga/src/Card/web/PlanCard/__snapshots__/List.test.jsx.snap
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Datepicker/web/__snapshots__/Datepicker.test.jsx.snap
  packages/yoga/src/Divider/web/__snapshots__/Divider.test.jsx.snap
  packages/yoga/src/Dropdown/web/__snapshots__/Dropdown.test.jsx.snap
  packages/yoga/src/Feedback/web/__snapshots__/Feedback.test.jsx.snap
  packages/yoga/src/Heading/web/__snapshots__/Heading.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Input.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Phone.test.jsx.snap
  packages/yoga/src/NavigationMenu/web/__snapshots__/NavigationMenu.test.tsx.snap
  packages/yoga/src/Popover/web/__snapshots__/Popover.test.jsx.snap
  packages/yoga/src/Slider/web/__snapshots__/Slider.test.jsx.snap
  packages/yoga/src/Snackbar/web/__snapshots__/Snackbar.test.jsx.snap
  packages/yoga/src/Stepper/web/__snapshots__/Stepper.test.jsx.snap
  packages/yoga/src/Text/Text.theme.js
  packages/yoga/src/Text/native/Text.jsx
  packages/yoga/src/Text/native/Text.test.jsx
  packages/yoga/src/Text/native/__snapshots__/Text.test.jsx.snap
  packages/yoga/src/Text/native/index.js
  packages/yoga/src/Text/sharedTextStyle.jsx
  packages/yoga/src/Text/textStyle.android.jsx
  packages/yoga/src/Text/textStyle.ios.jsx
  packages/yoga/src/Text/textStyle.web.jsx
  packages/yoga/src/Text/web/Text.jsx
  packages/yoga/src/Text/web/Text.test.jsx
  packages/yoga/src/Text/web/__snapshots__/Text.test.jsx.snap
  packages/yoga/src/Text/web/index.js
Labels: @gympass/yoga-tokens, @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative
