Repository gympass/yoga, pull requests merged in 2024-03, with the labels that each got.

#744 [DS-782] Add antialiased for Font-Weight issues
  packages/tokens/src/global/font-weights.ts
  packages/yoga/src/Theme/Provider/web/FontLoader.test.jsx
  packages/yoga/src/Theme/Provider/web/GlobalStyle.jsx
  packages/yoga/src/Theme/Provider/web/GlobalStyle.test.jsx
  packages/yoga/src/Theme/theme/v3theme.ts
Labels: @gympass/yoga-tokens, @gympass/yoga

#742 refactor: updates title prop to receive text display
  packages/yoga/src/ActionRequirement/native/ActionRequirement.jsx
  packages/yoga/src/ActionRequirement/native/ActionRequirement.test.jsx
  packages/yoga/src/ActionRequirement/native/__snapshots__/ActionRequirement.test.jsx.snap
  packages/yoga/src/ActionRequirement/web/ActionRequirement.jsx
  packages/yoga/src/ActionRequirement/web/ActionRequirement.test.jsx
  packages/yoga/src/ActionRequirement/web/__snapshots__/ActionRequirement.test.jsx.snap
Labels: @gympass/yoga

#749 🚀 [EUEG-3174] - feat(v3theme): use lightNew as lineAndBorders value
  packages/yoga/src/Theme/theme/v3theme.ts
Labels: @gympass/yoga

#746 🐞 fix: button disabled color
  packages/yoga/src/Banner/web/__snapshots__/Banner.test.jsx.snap
  packages/yoga/src/Button/Button.theme.js
  packages/yoga/src/Button/native/__snapshots__/Button.test.jsx.snap
  packages/yoga/src/Button/web/Button.jsx
  packages/yoga/src/Button/web/__snapshots__/Button.test.jsx.snap
Labels: @gympass/yoga

#751 🚀 fix(DS-794): phone input vertical center
  packages/yoga/src/Input/web/Phone.style.js
  packages/yoga/src/Input/web/__snapshots__/Phone.test.jsx.snap
Labels: @gympass/yoga

#726 🐞 fix: multiple onChange being triggered on Checkbox
  packages/yoga/src/Checkbox/web/Checkbox.jsx
Labels: @gympass/yoga

#753 🚀 fix/feat: downsize "zIndex" values on NavigationMenu and allow it to be configurable
  packages/doc/content/components/components/navigationmenu/props.ts
  packages/yoga/src/NavigationMenu/web/BottomItems/BottomItems.tsx
  packages/yoga/src/NavigationMenu/web/NavigationMenu.tsx
  packages/yoga/src/NavigationMenu/web/Switcher/Actions.tsx
  packages/yoga/src/NavigationMenu/web/Switcher/Switcher.tsx
  packages/yoga/src/NavigationMenu/web/__snapshots__/NavigationMenu.test.tsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga

#755 [DS-975] Add theme based customizations support
  packages/yoga/src/Theme/theme/theme.js
  packages/yoga/src/Theme/theme/v3theme.ts
Labels: @gympass/yoga

#756 fix: navigation menu types
  packages/yoga/src/NavigationMenu/web/BottomItems/BottomItems.tsx
  packages/yoga/src/NavigationMenu/web/NavigationMenu.tsx
  packages/yoga/src/NavigationMenu/web/Switcher/Actions.tsx
Labels: @gympass/yoga

#754 [DS-783] - Fix inconsistencies in the text component
  packages/doc/content/components/components/text/default-native.mdx
  packages/doc/content/components/components/text/default-web.mdx
  packages/doc/content/components/components/text/index.mdx
  packages/doc/content/guidelines/typography.mdx
  packages/labnative/pages/Text.jsx
  packages/yoga/src/ActionRequirement/native/__snapshots__/ActionRequirement.test.jsx.snap
  packages/yoga/src/Avatar/native/__snapshots__/Avatar.test.jsx.snap
  packages/yoga/src/Box/native/__snapshots__/Box.test.jsx.snap
  packages/yoga/src/Card/native/GymCard/CheckIn/__snapshots__/CheckIn.test.jsx.snap
  packages/yoga/src/Chips/native/__snapshots__/Chips.test.jsx.snap
  packages/yoga/src/Dropdown/native/__snapshots__/Dropdown.test.jsx.snap
  packages/yoga/src/Snackbar/native/__snapshots__/Snackbar.test.jsx.snap
  packages/yoga/src/Text/Text.theme.js
  packages/yoga/src/Text/native/Text.jsx
  packages/yoga/src/Text/native/Text.test.jsx
  packages/yoga/src/Text/native/__snapshots__/Text.test.jsx.snap
  packages/yoga/src/Text/native/index.js
  packages/yoga/src/Text/textStyle.android.jsx
  packages/yoga/src/Text/textStyle.ios.jsx
  packages/yoga/src/Text/textStyle.web.jsx
  packages/yoga/src/Text/web/Text.jsx
  packages/yoga/src/Text/web/Text.test.jsx
  packages/yoga/src/Text/web/__snapshots__/Text.test.jsx.snap
  packages/yoga/src/Text/web/index.js
Labels: @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative

#757 🚀 feat (DS-797): revamp navigation menu to v3 theme
  packages/doc/content/components/components/navigationmenu/props.ts
  packages/yoga/src/NavigationMenu/NavigationMenu.theme.ts
  packages/yoga/src/NavigationMenu/web/BottomItems/BottomItem.tsx
  packages/yoga/src/NavigationMenu/web/BottomItems/BottomItems.tsx
  packages/yoga/src/NavigationMenu/web/Item/styles.ts
  packages/yoga/src/NavigationMenu/web/Menu/Menu.tsx
  packages/yoga/src/NavigationMenu/web/NavigationMenu.tsx
  packages/yoga/src/NavigationMenu/web/Switcher/Actions.tsx
  packages/yoga/src/NavigationMenu/web/Switcher/Switcher.tsx
  packages/yoga/src/NavigationMenu/web/__snapshots__/NavigationMenu.test.tsx.snap
  packages/yoga/src/yoga.d.ts
Labels: @gympass/yoga-tokens, @gympass/yoga-doc, @gympass/yoga

#758 🐞 fix (DS-805): spread checkbox attributes props to input
  packages/yoga/src/Checkbox/web/Checkbox.jsx
Labels: @gympass/yoga

#759 🚀 Update Text theming to match Figma font weights
  packages/doc/content/guidelines/typography.mdx
  packages/yoga/src/Text/Text.theme.js
  packages/yoga/src/Text/native/Text.test.jsx
  packages/yoga/src/Text/native/__snapshots__/Text.test.jsx.snap
  packages/yoga/src/Text/textStyle.android.jsx
  packages/yoga/src/Text/textStyle.ios.jsx
  packages/yoga/src/Text/textStyle.web.jsx
  packages/yoga/src/Text/web/Text.test.jsx
  packages/yoga/src/Text/web/__snapshots__/Text.test.jsx.snap
  packages/yoga/src/Theme/theme/v3theme.ts
Labels: enhancement, @gympass/yoga-doc, @gympass/yoga

#762 🐞fix (PPE-668): menu bottom items
  packages/yoga/src/NavigationMenu/web/BottomItems/BottomItems.tsx
  packages/yoga/src/NavigationMenu/web/__snapshots__/NavigationMenu.test.tsx.snap
Labels: @gympass/yoga

#752 [DS-790] Feat/fix skeleton component
  packages/doc/content/components/components/skeleton/skeleton-web.mdx
  packages/yoga/src/Skeleton/Skeleton.theme.js
  packages/yoga/src/Skeleton/native/Skeleton.jsx
  packages/yoga/src/Skeleton/native/Skeleton.test.jsx
  packages/yoga/src/Skeleton/native/__snapshots__/Skeleton.test.jsx.snap
  packages/yoga/src/Skeleton/web/Skeleton.jsx
  packages/yoga/src/Skeleton/web/Skeleton.test.jsx
  packages/yoga/src/Skeleton/web/__snapshots__/Skeleton.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga

#761 [DS-804] Add v3Theme to Button and Tag component
  packages/labnative/android/app/src/main/assets/fonts/Inter-600.ttf
  packages/labnative/android/link-assets-manifest.json
  packages/labnative/ios/labnative.xcodeproj/project.pbxproj
  packages/labnative/ios/labnative/Info.plist
  packages/labnative/ios/link-assets-manifest.json
  packages/tokens/src/global/font-weights.ts
  packages/yoga/src/Banner/native/__snapshots__/Banner.test.jsx.snap
  packages/yoga/src/Banner/web/__snapshots__/Banner.test.jsx.snap
  packages/yoga/src/BottomSheet/web/__snapshots__/BottomSheet.test.jsx.snap
  packages/yoga/src/Button/Button.theme.js
  packages/yoga/src/Button/native/Button.jsx
  packages/yoga/src/Button/native/Button.test.jsx
  packages/yoga/src/Button/native/__snapshots__/Button.test.jsx.snap
  packages/yoga/src/Button/web/Button.test.jsx
  packages/yoga/src/Button/web/StyledButton.jsx
  packages/yoga/src/Button/web/__snapshots__/Button.test.jsx.snap
  packages/yoga/src/Card/native/Card/__snapshots__/Card.test.jsx.snap
  packages/yoga/src/Card/native/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Card/web/Card/__snapshots__/Card.test.jsx.snap
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
  packages/yoga/src/Dialog/web/__snapshots__/Dialog.test.jsx.snap
  packages/yoga/src/Drawer/web/__snapshots__/Drawer.test.jsx.snap
  packages/yoga/src/Fonts/Inter-600.ttf
  packages/yoga/src/Heading/web/__snapshots__/Heading.test.jsx.snap
  packages/yoga/src/Menu/web/__snapshots__/Menu.test.jsx.snap
  packages/yoga/src/NavigationMenu/web/__snapshots__/NavigationMenu.test.tsx.snap
  packages/yoga/src/Result/native/__snapshots__/Result.test.jsx.snap
  packages/yoga/src/Snackbar/native/__snapshots__/Snackbar.test.jsx.snap
  packages/yoga/src/Tag/Tag.theme.js
  packages/yoga/src/Tag/native/Informative.jsx
  packages/yoga/src/Tag/native/Tag.jsx
  packages/yoga/src/Tag/native/Tag.test.jsx
  packages/yoga/src/Tag/native/__snapshots__/Tag.test.jsx.snap
  packages/yoga/src/Tag/web/Informative.jsx
  packages/yoga/src/Tag/web/Tag.jsx
  packages/yoga/src/Tag/web/Tag.test.jsx
  packages/yoga/src/Tag/web/__snapshots__/Tag.test.jsx.snap
  packages/yoga/src/Theme/Provider/web/FontLoader.test.jsx
  packages/yoga/src/Theme/theme/v3theme.ts
Labels: @gympass/yoga-tokens, @gympass/yoga, @gympass/yoga-labnative

#764 🚀 refactor(result): update native result text
  packages/labnative/pages/Result.jsx
  packages/yoga/src/Result/native/Attendances.jsx
  packages/yoga/src/Result/native/Details.jsx
  packages/yoga/src/Result/native/Rate.jsx
  packages/yoga/src/Result/native/Result.jsx
  packages/yoga/src/Result/native/Tags.jsx
  packages/yoga/src/Result/native/TinyTextIcon.jsx
  packages/yoga/src/Result/native/__snapshots__/Result.test.jsx.snap
Labels: @gympass/yoga, @gympass/yoga-labnative

#763 🚀 refactor(chips): adjust chips texts
  packages/yoga/src/Chips/native/Chips.jsx
  packages/yoga/src/Chips/native/__snapshots__/Chips.test.jsx.snap
  packages/yoga/src/Chips/web/Chips.jsx
  packages/yoga/src/Chips/web/__snapshots__/Chips.test.jsx.snap
Labels: @gympass/yoga

#765 🚀 [RTN-924] Update Heading component to use the correct font-weight
  packages/yoga/src/Heading/web/Title.jsx
  packages/yoga/src/Heading/web/__snapshots__/Heading.test.jsx.snap
Labels: @gympass/yoga

#766 🚀 [DS-784] Update EventCard component
  packages/yoga/src/BottomSheet/web/__snapshots__/BottomSheet.test.jsx.snap
  packages/yoga/src/Card/native/Card/Card.jsx
  packages/yoga/src/Card/native/EventCard/EventCard.jsx
  packages/yoga/src/Card/native/EventCard/__snapshots__/EventCard.test.jsx.snap
  packages/yoga/src/Card/web/Card/Card.jsx
  packages/yoga/src/Card/web/Card/__snapshots__/Card.test.jsx.snap
  packages/yoga/src/Card/web/EventCard/EventCard.jsx
  packages/yoga/src/Card/web/EventCard/__snapshots__/EventCard.test.jsx.snap
  packages/yoga/src/Dialog/web/__snapshots__/Dialog.test.jsx.snap
  packages/yoga/src/Drawer/web/__snapshots__/Drawer.test.jsx.snap
Labels: @gympass/yoga

#767 🚀 [EUEG-3190 | DS-800] Update PlanCard component to use the correct font-weight
  packages/yoga/src/Card/web/PlanCard/Content.jsx
  packages/yoga/src/Card/web/PlanCard/__snapshots__/PlanCard.test.jsx.snap
Labels: @gympass/yoga

#768 🚀 [RTN-938] - Update ActionRequirement component to use the correct font-weight
  packages/yoga/src/ActionRequirement/native/ActionRequirement.jsx
  packages/yoga/src/ActionRequirement/native/ActionRequirementStyles.js
  packages/yoga/src/ActionRequirement/native/__snapshots__/ActionRequirement.test.jsx.snap
  packages/yoga/src/ActionRequirement/web/ActionRequirement.jsx
  packages/yoga/src/ActionRequirement/web/ActionRequirementStyles.js
  packages/yoga/src/ActionRequirement/web/__snapshots__/ActionRequirement.test.jsx.snap
Labels: @gympass/yoga

#770 🚀 [RTN-933] Update Datepicker component to use the correct font-weight
  packages/yoga/src/Datepicker/web/Calendar.jsx
  packages/yoga/src/Datepicker/web/Datepicker.test.jsx
  packages/yoga/src/Datepicker/web/__snapshots__/Datepicker.test.jsx.snap
Labels: @gympass/yoga

#772 🚀 [RTN-925] - Update Feedback component to use the correct font-weight
  packages/yoga/src/Feedback/web/Feedback.jsx
  packages/yoga/src/Feedback/web/StyledFeedback.jsx
  packages/yoga/src/Feedback/web/__snapshots__/Feedback.test.jsx.snap
Labels: @gympass/yoga

#773 [DS-814] Change Slider texts
  packages/labnative/core/CenteredView.jsx
  packages/yoga/src/Slider/native/Tooltip.jsx
  packages/yoga/src/Slider/native/__snapshots__/Slider.test.jsx.snap
  packages/yoga/src/Slider/web/Tooltip.jsx
  packages/yoga/src/Slider/web/__snapshots__/Slider.test.jsx.snap
Labels: @gympass/yoga, @gympass/yoga-labnative

#769 🚀 refactor(banner): update banner font v3theme
  packages/yoga/src/Banner/native/Banner.jsx
  packages/yoga/src/Banner/web/Banner.jsx
Labels: @gympass/yoga

#774 [DS-813] Add v3Theme to Input component
  packages/yoga/src/AutoComplete/web/__snapshots__/AutoComplete.test.jsx.snap
  packages/yoga/src/Dropdown/web/__snapshots__/Dropdown.test.jsx.snap
  packages/yoga/src/Input/Input.theme.js
  packages/yoga/src/Input/native/Helper.jsx
  packages/yoga/src/Input/native/Input.jsx
  packages/yoga/src/Input/native/__snapshots__/Email.test.jsx.snap
  packages/yoga/src/Input/native/__snapshots__/Input.test.jsx.snap
  packages/yoga/src/Input/native/__snapshots__/Number.test.jsx.snap
  packages/yoga/src/Input/native/__snapshots__/Password.test.jsx.snap
  packages/yoga/src/Input/native/__snapshots__/Tel.test.jsx.snap
  packages/yoga/src/Input/web/Field.jsx
  packages/yoga/src/Input/web/Fieldset.jsx
  packages/yoga/src/Input/web/Helper.jsx
  packages/yoga/src/Input/web/Label.jsx
  packages/yoga/src/Input/web/Legend.jsx
  packages/yoga/src/Input/web/__snapshots__/Email.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Input.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Number.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Password.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Phone.test.jsx.snap
  packages/yoga/src/Input/web/__snapshots__/Tel.test.jsx.snap
  packages/yoga/src/TextArea/native/__snapshots__/TextArea.test.jsx.snap
  packages/yoga/src/TextArea/web/__snapshots__/TextArea.test.jsx.snap
  packages/yoga/src/Theme/theme/v3theme.ts
Labels: @gympass/yoga

#775 🚀 refactor(snackbar): update snackbar font v3theme
  packages/yoga/src/Snackbar/native/Snackbar.jsx
  packages/yoga/src/Snackbar/native/__snapshots__/Snackbar.test.jsx.snap
  packages/yoga/src/Snackbar/web/Snackbar.jsx
Labels: @gympass/yoga

#776 🚀 Update Stepper inner text components and colors
  packages/yoga/src/Stepper/Stepper.theme.js
  packages/yoga/src/Stepper/native/Dots.jsx
  packages/yoga/src/Stepper/native/__snapshots__/Stepper.test.jsx.snap
  packages/yoga/src/Stepper/web/Dots.jsx
  packages/yoga/src/Stepper/web/__snapshots__/Stepper.test.jsx.snap
Labels: enhancement, @gympass/yoga

#777 [DS-809] Add v3theme to Dropdown component
  packages/yoga/src/Dropdown/Dropdown.theme.js
  packages/yoga/src/Dropdown/native/Dropdown.jsx
  packages/yoga/src/Dropdown/native/Options.android.jsx
  packages/yoga/src/Dropdown/native/__snapshots__/Dropdown.test.jsx.snap
  packages/yoga/src/Theme/theme/v3theme.ts
Labels: @gympass/yoga

#771 [EUEG-3194] Update Dialog component to use the correct font-weight
  packages/yoga/src/BottomSheet/web/__snapshots__/BottomSheet.test.jsx.snap
  packages/yoga/src/Dialog/web/Content.jsx
  packages/yoga/src/Dialog/web/Header.jsx
  packages/yoga/src/Dialog/web/__snapshots__/Dialog.test.jsx.snap
  packages/yoga/src/Drawer/web/__snapshots__/Drawer.test.jsx.snap
Labels: @gympass/yoga

#778 🚀 [ENG-5771] - Adjust native `EventCard` font-weights
  packages/yoga/src/Card/native/EventCard/EventCard.jsx
  packages/yoga/src/Card/native/EventCard/__snapshots__/EventCard.test.jsx.snap
Labels: @gympass/yoga

#779 [DS-815] - Add Button.Outlined to the native
  packages/doc/content/components/components/button/outline-native.mdx
  packages/doc/content/components/components/button/outline-web.mdx
  packages/doc/content/components/components/button/outline.mdx
  packages/labnative/pages/Button.jsx
  packages/yoga/src/Button/Button.theme.js
  packages/yoga/src/Button/index.native.js
  packages/yoga/src/Button/native/Button.test.jsx
  packages/yoga/src/Button/native/Outline.jsx
  packages/yoga/src/Button/native/__snapshots__/Button.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga, @gympass/yoga-labnative

#780 [DS-785] Update Calendar component to v3theme
  packages/yoga/src/Datepicker/web/Calendar.jsx
Labels: @gympass/yoga
