Repository gympass/yoga, pull requests merged in 2025-02, with the labels that each got.

#867 fix(ButtonIcon): remove unnecessary `aria-disabled` from component
  packages/yoga/src/Button/web/Icon.jsx
  packages/yoga/src/Button/web/__snapshots__/Button.test.jsx.snap
Labels: @gympass/yoga

#872 Feat: add countries props for input phone component
  packages/doc/content/components/components/input/phone-web.mdx
  packages/doc/content/components/components/input/phone.mdx
  packages/yoga/src/Input/web/Phone.jsx
  packages/yoga/src/Input/web/Phone.test.jsx
  packages/yoga/src/Menu/web/__snapshots__/Menu.test.jsx.snap
Labels: @gympass/yoga-doc, @gympass/yoga

#869 fix(package): moves yoga-icons dep to peer dependencies
  packages/yoga/package.json
Labels: @gympass/yoga

#875 🚀 Fix: propdown props correctly to phone input
  packages/doc/content/components/components/input/phone.mdx
  packages/yoga/src/Input/web/Phone.jsx
  packages/yoga/src/Input/web/Phone.test.jsx
Labels: @gympass/yoga-doc, @gympass/yoga

#877 [ACS-82]: 🚀 Add prop titleLevel to ActionRequirement
  packages/yoga/src/ActionRequirement/web/ActionRequirement.jsx
  packages/yoga/src/ActionRequirement/web/ActionRequirement.test.jsx
  packages/yoga/src/ActionRequirement/web/__snapshots__/ActionRequirement.test.jsx.snap
Labels: @gympass/yoga, accessibility
