Repository gympass/yoga, pull requests merged in 2025-03, with the labels that each got.

#878 Add amenities icons to yoga-icons
  packages/icons/src/svg/bath.svg
  packages/icons/src/svg/beauty-center.svg
  packages/icons/src/svg/bike.svg
  packages/icons/src/svg/bioimpedance-scale.svg
  packages/icons/src/svg/body-massage.svg
  packages/icons/src/svg/court.svg
  packages/icons/src/svg/coworking-space.svg
  packages/icons/src/svg/drinking-fountain.svg
  packages/icons/src/svg/free-weight.svg
  packages/icons/src/svg/functional-training.svg
  packages/icons/src/svg/grippy-socks.svg
  packages/icons/src/svg/hot-tub.svg
  packages/icons/src/svg/massage-chair.svg
  packages/icons/src/svg/physiotherapy.svg
  packages/icons/src/svg/racquet.svg
  packages/icons/src/svg/sauna.svg
  packages/icons/src/svg/stretching.svg
  packages/icons/src/svg/support-trainer.svg
  packages/icons/src/svg/weight-machine.svg
  packages/icons/src/ui.ts
Labels: @gympass/yoga-icons

#879 DS-1037 - Adjust datepicker language
  packages/doc/content/components/components/datepicker/index.mdx
  packages/yoga/src/Datepicker/web/Calendar.jsx
  packages/yoga/src/Datepicker/web/Datepicker.jsx
  packages/yoga/src/Datepicker/web/Datepicker.test.jsx
Labels: @gympass/yoga-doc, @gympass/yoga

#880 🚀ACS-129 - Accessibility clear button
  packages/yoga/src/AutoComplete/web/__snapshots__/AutoComplete.test.jsx.snap
  packages/yoga/src/Input/web/Input.jsx
  packages/yoga/src/Input/web/Input.test.jsx
Labels: @gympass/yoga, accessibility

#882 [RTN-1754] Update Accordion component
  packages/yoga/src/Accordion/web/Accordion.jsx
  packages/yoga/src/Accordion/web/Accordion.test.jsx
  packages/yoga/src/Accordion/web/__snapshots__/Accordion.test.jsx.snap
Labels: @gympass/yoga

#883 🐞 fixes prop handling regressions on native components
  packages/yoga/src/Button/native/Button.jsx
  packages/yoga/src/Card/native/EventCard/EventCard.jsx
  packages/yoga/src/TextArea/native/TextArea.jsx
Labels: @gympass/yoga
